In [1]:
city='new_method/LS'
method='dbscan'
import pandas as pd
data_train_acc=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_acc.csv",header=0)
data_train_nonac=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_nonaccdata.csv",header=0)

        geohash  non_acclat  non_acclong  UJAHR  UMONAT  UWOCHENTAG  hour
0       u1r96e1   52.268699    10.658164   2018      10           4    15
1       u1qk74f   52.794029     8.925002   2017       9           1     7
2       u1w610t   53.791985     8.840832   2017       2           2    20
3       u1qe08e   52.562460     9.167064   2017      11           3     0
4       u1mnxdf   53.189840     7.364278   2019       5           6     7
...         ...         ...          ...    ...     ...         ...   ...
193669  u1t6f3v   53.930861     7.489050   2017       5           1     7
193670  u1rkudr   52.879192    10.403913   2018       8           1     1
193671  u1t9sts   53.732268     7.938672   2017      12           1     2
193672  u1rst7y   52.843375    10.786637   2019       1           4    17
193673  u1pq27t   51.743583    10.213539   2018       1           7    10

[193674 rows x 7 columns]

In [2]:
data_train_acc

,acc_id,acc_lat,acc_long,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,geohash
0,8212_2017,52.956923,10.603024,2017,1,2,1,1,6,4,u1rt328
1,8214_2017,52.379596,9.809079,2017,1,21,1,1,5,3,u1qczpq
2,8216_2017,52.377291,10.038980,2017,1,23,1,0,3,6,u1r1uqy
3,8217_2017,52.399306,9.880214,2017,1,17,1,0,2,6,u1r40g4
4,8221_2017,52.185437,10.086394,2017,1,16,1,0,8,1,u1r0vs0
...,...,...,...,...,...,...,...,...,...,...,...
64553,233036_2019,52.263167,10.223962,2019,5,11,4,5,3,0,u1r32dh
64554,233037_2019,52.323039,10.230278,2019,5,16,4,0,6,0,u1r38v1
64555,233038_2019,52.326154,10.234089,2019,5,15,4,5,3,0,u1r38vs
64556,233039_2019,52.269877,10.509171,2019,5,20,4,2,2,0,u1r3r5k
64557,233041_2019,52.261086,10.518518,2019,5,15,4,5,3,0,u1r3r3g

# 5x5 grid needed

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import pytz
import pygeohash as gh
from haversine import haversine
import time
import pickle as cPickle
import glob
import json

geohash_prec = 5

In [4]:
def geohash(lat,long):
    geo=gh.encode(float(lat), float(long), precision=geohash_prec)
    return geo

In [5]:
data_train_acc['geohash_five'] = data_train_acc.apply(lambda row: geohash(row['acc_lat'],row['acc_long']), axis=1)
data_train_acc

,acc_id,acc_lat,acc_long,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,geohash,geohash_five
0,8212_2017,52.956923,10.603024,2017,1,2,1,1,6,4,u1rt328,u1rt3
1,8214_2017,52.379596,9.809079,2017,1,21,1,1,5,3,u1qczpq,u1qcz
2,8216_2017,52.377291,10.038980,2017,1,23,1,0,3,6,u1r1uqy,u1r1u
3,8217_2017,52.399306,9.880214,2017,1,17,1,0,2,6,u1r40g4,u1r40
4,8221_2017,52.185437,10.086394,2017,1,16,1,0,8,1,u1r0vs0,u1r0v
...,...,...,...,...,...,...,...,...,...,...,...,...
64553,233036_2019,52.263167,10.223962,2019,5,11,4,5,3,0,u1r32dh,u1r32
64554,233037_2019,52.323039,10.230278,2019,5,16,4,0,6,0,u1r38v1,u1r38
64555,233038_2019,52.326154,10.234089,2019,5,15,4,5,3,0,u1r38vs,u1r38
64556,233039_2019,52.269877,10.509171,2019,5,20,4,2,2,0,u1r3r5k,u1r3r
64557,233041_2019,52.261086,10.518518,2019,5,15,4,5,3,0,u1r3r3g,u1r3r

In [6]:
data_train_nonac['geohash_five'] = data_train_nonac.apply(lambda row: geohash(row['non_acclat'],row['non_acclong']), axis=1)
data_train_nonac

,geohash,non_acclat,non_acclong,UJAHR,UMONAT,UWOCHENTAG,hour,geohash_five
0,u1r96e1,52.268699,10.658164,2018,10,4,15,u1r96
1,u1qk74f,52.794029,8.925002,2017,9,1,7,u1qk7
2,u1w610t,53.791985,8.840832,2017,2,2,20,u1w61
3,u1qe08e,52.562460,9.167064,2017,11,3,0,u1qe0
4,u1mnxdf,53.189840,7.364278,2019,5,6,7,u1mnx
...,...,...,...,...,...,...,...,...
193669,u1t6f3v,53.930861,7.489050,2017,5,1,7,u1t6f
193670,u1rkudr,52.879192,10.403913,2018,8,1,1,u1rku
193671,u1t9sts,53.732268,7.938672,2017,12,1,2,u1t9s
193672,u1rst7y,52.843375,10.786637,2019,1,4,17,u1rst
193673,u1pq27t,51.743583,10.213539,2018,1,7,10,u1pq2

In [7]:
data_train_acc['count']=1
data_train_acc

,acc_id,acc_lat,acc_long,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,geohash,geohash_five,count
0,8212_2017,52.956923,10.603024,2017,1,2,1,1,6,4,u1rt328,u1rt3,1
1,8214_2017,52.379596,9.809079,2017,1,21,1,1,5,3,u1qczpq,u1qcz,1
2,8216_2017,52.377291,10.038980,2017,1,23,1,0,3,6,u1r1uqy,u1r1u,1
3,8217_2017,52.399306,9.880214,2017,1,17,1,0,2,6,u1r40g4,u1r40,1
4,8221_2017,52.185437,10.086394,2017,1,16,1,0,8,1,u1r0vs0,u1r0v,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64553,233036_2019,52.263167,10.223962,2019,5,11,4,5,3,0,u1r32dh,u1r32,1
64554,233037_2019,52.323039,10.230278,2019,5,16,4,0,6,0,u1r38v1,u1r38,1
64555,233038_2019,52.326154,10.234089,2019,5,15,4,5,3,0,u1r38vs,u1r38,1
64556,233039_2019,52.269877,10.509171,2019,5,20,4,2,2,0,u1r3r5k,u1r3r,1
64557,233041_2019,52.261086,10.518518,2019,5,15,4,5,3,0,u1r3r3g,u1r3r,1

In [8]:
data_train_acc=data_train_acc[['geohash_five','acc_lat','acc_long','UJAHR','UMONAT','UWOCHENTAG','USTUNDE','count']]
data_train_acc.columns=['geohash','lat','long','UJAHR','UMONAT','UWOCHENTAG','hour','count']
data_train_acc

      geohash        lat       long  UJAHR  UMONAT  UWOCHENTAG  hour  count
0       u1rt3  52.956923  10.603024   2017       1           1     2      1
1       u1qcz  52.379596   9.809079   2017       1           1    21      1
2       u1r1u  52.377291  10.038980   2017       1           1    23      1
3       u1r40  52.399306   9.880214   2017       1           1    17      1
4       u1r0v  52.185437  10.086394   2017       1           1    16      1
...       ...        ...        ...    ...     ...         ...   ...    ...
64553   u1r32  52.263167  10.223962   2019       5           4    11      1
64554   u1r38  52.323039  10.230278   2019       5           4    16      1
64555   u1r38  52.326154  10.234089   2019       5           4    15      1
64556   u1r3r  52.269877  10.509171   2019       5           4    20      1
64557   u1r3r  52.261086  10.518518   2019       5           4    15      1

[64558 rows x 8 columns]

In [12]:
#data_train_nonac['geohash'] = data_train_nonac.apply(lambda row: geohash(row['non_acclat'],row['non_acclong']), axis=1)
data_train_nonac['count']=0
data_train_nonac

,geohash,non_acclat,non_acclong,UJAHR,UMONAT,UWOCHENTAG,hour,geohash_five,count
0,u1r96e1,52.268699,10.658164,2018,10,4,15,u1r96,0
1,u1qk74f,52.794029,8.925002,2017,9,1,7,u1qk7,0
2,u1w610t,53.791985,8.840832,2017,2,2,20,u1w61,0
3,u1qe08e,52.562460,9.167064,2017,11,3,0,u1qe0,0
4,u1mnxdf,53.189840,7.364278,2019,5,6,7,u1mnx,0
...,...,...,...,...,...,...,...,...,...
193669,u1t6f3v,53.930861,7.489050,2017,5,1,7,u1t6f,0
193670,u1rkudr,52.879192,10.403913,2018,8,1,1,u1rku,0
193671,u1t9sts,53.732268,7.938672,2017,12,1,2,u1t9s,0
193672,u1rst7y,52.843375,10.786637,2019,1,4,17,u1rst,0
193673,u1pq27t,51.743583,10.213539,2018,1,7,10,u1pq2,0

In [13]:
data_train_nonac=data_train_nonac[['geohash_five','non_acclat','non_acclong','UJAHR','UMONAT','UWOCHENTAG','hour','count']]
data_train_nonac.columns=['geohash','lat','long','UJAHR','UMONAT','UWOCHENTAG','hour','count']
data_train_nonac

       geohash        lat       long  UJAHR  UMONAT  UWOCHENTAG  hour  count
0        u1r96  52.268699  10.658164   2018      10           4    15      0
1        u1qk7  52.794029   8.925002   2017       9           1     7      0
2        u1w61  53.791985   8.840832   2017       2           2    20      0
3        u1qe0  52.562460   9.167064   2017      11           3     0      0
4        u1mnx  53.189840   7.364278   2019       5           6     7      0
...        ...        ...        ...    ...     ...         ...   ...    ...
193669   u1t6f  53.930861   7.489050   2017       5           1     7      0
193670   u1rku  52.879192  10.403913   2018       8           1     1      0
193671   u1t9s  53.732268   7.938672   2017      12           1     2      0
193672   u1rst  52.843375  10.786637   2019       1           4    17      0
193673   u1pq2  51.743583  10.213539   2018       1           7    10      0

[193674 rows x 8 columns]

In [14]:
import geohash as gh
def geohash(lat,long):
    geo=gh.encode(float(lat), float(long), precision=6)
    return geo

data_train_nonac['geohash6'] = data_train_nonac.apply(lambda row: geohash(row['lat'],row['long']), axis=1)
data_train_nonac

,geohash,lat,long,UJAHR,UMONAT,UWOCHENTAG,hour,count,geohash6
0,u1r96,52.268699,10.658164,2018,10,4,15,0,u1r96e
1,u1qk7,52.794029,8.925002,2017,9,1,7,0,u1qk74
2,u1w61,53.791985,8.840832,2017,2,2,20,0,u1w610
3,u1qe0,52.562460,9.167064,2017,11,3,0,0,u1qe08
4,u1mnx,53.189840,7.364278,2019,5,6,7,0,u1mnxd
...,...,...,...,...,...,...,...,...,...
193669,u1t6f,53.930861,7.489050,2017,5,1,7,0,u1t6f3
193670,u1rku,52.879192,10.403913,2018,8,1,1,0,u1rkud
193671,u1t9s,53.732268,7.938672,2017,12,1,2,0,u1t9st
193672,u1rst,52.843375,10.786637,2019,1,4,17,0,u1rst7
193673,u1pq2,51.743583,10.213539,2018,1,7,10,0,u1pq27

In [15]:
data_train_nonac=data_train_nonac[['geohash','lat','long','UJAHR','UMONAT','UWOCHENTAG','hour','count']]
data_train_nonac.columns=['geohash','lat','long','UJAHR','UMONAT','UWOCHENTAG','hour','count']
data_train_nonac

       geohash        lat       long  UJAHR  UMONAT  UWOCHENTAG  hour  count
0        u1r96  52.268699  10.658164   2018      10           4    15      0
1        u1qk7  52.794029   8.925002   2017       9           1     7      0
2        u1w61  53.791985   8.840832   2017       2           2    20      0
3        u1qe0  52.562460   9.167064   2017      11           3     0      0
4        u1mnx  53.189840   7.364278   2019       5           6     7      0
...        ...        ...        ...    ...     ...         ...   ...    ...
193669   u1t6f  53.930861   7.489050   2017       5           1     7      0
193670   u1rku  52.879192  10.403913   2018       8           1     1      0
193671   u1t9s  53.732268   7.938672   2017      12           1     2      0
193672   u1rst  52.843375  10.786637   2019       1           4    17      0
193673   u1pq2  51.743583  10.213539   2018       1           7    10      0

[193674 rows x 8 columns]

In [16]:
data_train_nonac.geohash.nunique()

3972

In [19]:
frame=[data_train_acc,data_train_nonac]
merge_train=pd.concat(frame)
merge_train=merge_train.reset_index(drop=True)
merge_train

       geohash        lat       long  UJAHR  UMONAT  UWOCHENTAG  hour  count
0        u1rt3  52.956923  10.603024   2017       1           1     2      1
1        u1qcz  52.379596   9.809079   2017       1           1    21      1
2        u1r1u  52.377291  10.038980   2017       1           1    23      1
3        u1r40  52.399306   9.880214   2017       1           1    17      1
4        u1r0v  52.185437  10.086394   2017       1           1    16      1
...        ...        ...        ...    ...     ...         ...   ...    ...
258227   u1t6f  53.930861   7.489050   2017       5           1     7      0
258228   u1rku  52.879192  10.403913   2018       8           1     1      0
258229   u1t9s  53.732268   7.938672   2017      12           1     2      0
258230   u1rst  52.843375  10.786637   2019       1           4    17      0
258231   u1pq2  51.743583  10.213539   2018       1           7    10      0

[258232 rows x 8 columns]

In [105]:
import geohash as gh
def geohash(lat,long):
    geo=gh.encode(float(lat), float(long), precision=6)
    return geo

In [106]:
#city='new_method/Nurmberg/5x5_Grid'

In [107]:
geohash7=merge_train[['geohash','lat','long']]
geohash7['cluster_id']=geohash7.apply(lambda row: geohash(row['lat'],row['long']), axis=1)
geohash7=geohash7[['cluster_id','geohash']]
geohash7.columns=['geohash','cluster_id']
geohash7=geohash7.drop_duplicates()
geohash7.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+"geohash_cluster5to6.csv",index=False)
geohash7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       geohash cluster_id
0       u1rt32      u1rt3
1       u1qczp      u1qcz
2       u1r1uq      u1r1u
3       u1r40g      u1r40
4       u1r0vs      u1r0v
...        ...        ...
258212  u1mrw3      u1mrw
258213  u1tenr      u1ten
258216  u1qnr1      u1qnr
258228  u1rkud      u1rku
258230  u1rst7      u1rst

[99692 rows x 2 columns]

In [23]:
# # Helper functions for the parallel computing 
import pandas as pd
import numpy as np

import random
import os
import sys
import psutil

import matplotlib
import matplotlib.pyplot as plt
import math
from multiprocessing import cpu_count,Pool 
import multiprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import pygeohash as gh
import pickle
from datetime import date

import pysolar
from pysolar.solar import *
from datetime import date
import datetime as dt
import pygeohash as gh
from pvlib import atmosphere
import pvlib.solarposition as pv
from pvlib.tools import datetime_to_djd, djd_to_datetime
# X=pd.read_csv('/home/optim7/Dropbox/Smart_Analytics_work/WeatherData_WOOPA/PV_data/Testing123.csv',index_col='Datetime')
# X.index = pd.to_datetime(X.index,unit='s')
# X.head()
import pytz
import calendar
import numpy as np



class WithExtraArgs(object):
     def __init__(self, func, **args):
         self.func = func
         self.args = args
     def __call__(self, df):
         return self.func(df, **self.args)

def applyParallel(data, func,pool,partition,kwargs):
     data_split = [data[i:i + partition] for i in range(0, len(data), partition)]
     #data_split = np.array_split(data, min(partitions,data.shape[0]))
     data =pool.map(WithExtraArgs(func, **kwargs), data_split)
     #data = pd.concat(pool.map(WithExtraArgs(func, **kwargs), data_split))
     return data

In [24]:
def caculatemean(ob):
    mid=sum(ob) / len(ob) 
    return mid

In [25]:
join_hann_forlatcenter=merge_train[['lat','long','geohash']]
latlist=join_hann_forlatcenter.groupby('geohash')['lat'].apply(list).reset_index(name='latlist')
latlist['middlelat']= latlist.apply(lambda row: caculatemean(row['latlist']), axis=1)
latlist

     geohash                                            latlist  middlelat
0      u1kcr  [52.289223356131245, 52.282724111373476, 52.27...  52.282183
1      u1kf3  [52.46503004617586, 52.46878440431494, 52.4667...  52.466853
2      u1kf6  [52.46092612148138, 52.46491726806983, 52.4698...  52.465076
3      u1kf7  [52.46060037414818, 52.46746407300003, 52.4644...  52.464223
4      u1kf8  [52.49879683941574, 52.501535632223685, 52.495...  52.496536
...      ...                                                ...        ...
3968   u32jw  [53.000426556944674, 52.99928153500008, 53.030...  53.021948
3969   u32jx  [53.033065203773795, 53.035741763156345, 53.03...  53.029776
3970   u32jy  [53.04559588713785, 53.04589297673358, 53.0494...  53.047259
3971   u32n0  [53.09336874108615, 53.09886227037134, 53.0969...  53.106648
3972   u32n2                                [53.13196738469035]  53.131967

[3973 rows x 3 columns]

In [26]:
longlist=merge_train.groupby('geohash')['long'].apply(list).reset_index(name='longlist')
longlist['middlelong']= longlist.apply(lambda row: caculatemean(row['longlist']), axis=1)
longlist

     geohash                                           longlist  middlelong
0      u1kcr  [7.028074382637959, 7.029717874813426, 7.02949...    7.029096
1      u1kf3  [6.7573075542791505, 6.746606154184848, 6.7536...    6.752533
2      u1kf6  [6.77335577828157, 6.796164337023875, 6.769356...    6.788395
3      u1kf7  [6.836978840553987, 6.840760778000059, 6.82713...    6.828686
4      u1kf8  [6.716112346325277, 6.708828429051324, 6.71677...    6.711644
...      ...                                                ...         ...
3968   u32jw  [11.553003134115922, 11.551628567000025, 11.52...   11.539163
3969   u32jx  [11.560801700331915, 11.566689746611234, 11.56...   11.570550
3970   u32jy  [11.516702085154073, 11.553436009006314, 11.53...   11.544179
3971   u32n0  [11.262309501749769, 11.256335350459175, 11.25...   11.261696
3972   u32n2                               [11.251837269082284]   11.251837

[3973 rows x 3 columns]

In [28]:
all_merge=pd.merge(latlist,longlist,on='geohash')
all_merge=all_merge[['geohash','middlelat','middlelong']]
all_merge.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+"oneCrossOneGrid_centroid_cluster.csv",index=False)

In [29]:
data_train_acc

      geohash        lat       long  UJAHR  UMONAT  UWOCHENTAG  hour  count
0       u1rt3  52.956923  10.603024   2017       1           1     2      1
1       u1qcz  52.379596   9.809079   2017       1           1    21      1
2       u1r1u  52.377291  10.038980   2017       1           1    23      1
3       u1r40  52.399306   9.880214   2017       1           1    17      1
4       u1r0v  52.185437  10.086394   2017       1           1    16      1
...       ...        ...        ...    ...     ...         ...   ...    ...
64553   u1r32  52.263167  10.223962   2019       5           4    11      1
64554   u1r38  52.323039  10.230278   2019       5           4    16      1
64555   u1r38  52.326154  10.234089   2019       5           4    15      1
64556   u1r3r  52.269877  10.509171   2019       5           4    20      1
64557   u1r3r  52.261086  10.518518   2019       5           4    15      1

[64558 rows x 8 columns]

In [30]:
join_hann_centroid=pd.merge(merge_train,all_merge,on='geohash')
join_hann_centroid=join_hann_centroid.reset_index(drop=True)
join_hann_centroid

,geohash,lat,long,UJAHR,UMONAT,UWOCHENTAG,hour,count,middlelat,middlelong
0,u1rt3,52.956923,10.603024,2017,1,1,2,1,52.974308,10.610863
1,u1rt3,52.978060,10.609006,2017,1,3,8,1,52.974308,10.610863
2,u1rt3,52.986019,10.632310,2017,3,6,16,1,52.974308,10.610863
3,u1rt3,52.958430,10.599178,2017,5,6,13,1,52.974308,10.610863
4,u1rt3,52.972873,10.601169,2017,8,2,16,1,52.974308,10.610863
...,...,...,...,...,...,...,...,...,...,...
258227,u1m8g,52.200255,7.907712,2019,1,3,18,0,52.200255,7.907712
258228,u1sdq,53.833522,6.635246,2018,8,5,1,0,53.833522,6.635246
258229,u1ngf,51.327055,9.611060,2017,11,2,12,0,51.327228,9.611162
258230,u1ngf,51.327401,9.611265,2019,3,4,0,0,51.327228,9.611162
258231,u1m3u,52.376760,7.560443,2018,12,5,12,0,52.376760,7.560443

In [32]:

city='new_method/LS/1x1Grid'
print(city)

new_method/LS/1x1Grid

In [35]:

# train_generted=join_hann_centroid.loc[~((join_hann_centroid['UJAHR']==2017) & (join_hann_centroid['UMONAT']==1) 
#                   & (join_hann_centroid['UWOCHENTAG']==1) & (join_hann_centroid['hour']<8))]
# train_generted=join_hann_centroid.loc[~((join_hann_centroid['UJAHR']==2019) & (join_hann_centroid['UMONAT']==2) 
#                   & (join_hann_centroid['UWOCHENTAG']==1) & (join_hann_centroid['hour']<8))]

train_generted=join_hann_centroid.copy()
train_generted

,geohash,lat,long,UJAHR,UMONAT,UWOCHENTAG,hour,count,middlelat,middlelong
0,u1rt3,52.956923,10.603024,2017,1,1,2,1,52.974308,10.610863
1,u1rt3,52.978060,10.609006,2017,1,3,8,1,52.974308,10.610863
2,u1rt3,52.986019,10.632310,2017,3,6,16,1,52.974308,10.610863
3,u1rt3,52.958430,10.599178,2017,5,6,13,1,52.974308,10.610863
4,u1rt3,52.972873,10.601169,2017,8,2,16,1,52.974308,10.610863
...,...,...,...,...,...,...,...,...,...,...
258227,u1m8g,52.200255,7.907712,2019,1,3,18,0,52.200255,7.907712
258228,u1sdq,53.833522,6.635246,2018,8,5,1,0,53.833522,6.635246
258229,u1ngf,51.327055,9.611060,2017,11,2,12,0,51.327228,9.611162
258230,u1ngf,51.327401,9.611265,2019,3,4,0,0,51.327228,9.611162
258231,u1m3u,52.376760,7.560443,2018,12,5,12,0,52.376760,7.560443

In [36]:
def getsolarpos(df,geomap):
    #chdf=df.copy
    avgliEl=[]
    avgliZe=[]
    avgliAz=[]
    for index, row in df.iterrows():
        liZe=[]
        liAz=[]
        liEl=[]
        year=row['UJAHR']
        month=row['UMONAT']
        day=row['UWOCHENTAG']
        #hour=row['sessiondivided']
        hour=int(row['USTUNDE'])
        #onekmhash=row['cluster_id']
        l=()
        if day==1:
            day=6
        else:
            day=day-2
        #hour=hour.split('-')
        #print(hour[0],hour[1])
        #hour=int((int(hour[0])+int(hour[1]))/2)
        A=calendar.TextCalendar(day)
        #decode=dict1.get(onekmhash)
        lat=row['middlelat']
        long=row['middlelong']
        for k in A.itermonthdays(year,month):
            #print(year,month,k)
            if k!=0:
                day1=date(year,month,k)
                #print(day)
                if day1.weekday()==day:
                    #print("%s,%d-%d-%d" % (calendar.day_name[6] ,k,month,year))
                    #l=(k,month,year)

                    dtime=str(year)+"-"+str(month).zfill(2)+"-"+str(k).zfill(2)+" "+str(hour).zfill(2)+":"+"00"+":"+"00"
                    date_time_obj = dt.datetime.strptime(dtime, '%Y-%m-%d %H:%M:%S')
    #                 timezone = pytz.timezone('Europe/Berlin')
    #                 timezone_date_time_obj = timezone.localize(date_time_obj)
    #                 if month<3 or month >10:
    #                     date_time_obj=(str(date_time_obj)+"+1:00")
    #                 else:
    #                     date_time_obj=(str(date_time_obj)+"+2:00")
                    timezone = pytz.timezone('Europe/Berlin')
                    timezone_date_time_obj = timezone.localize(date_time_obj)

                    #date_time_obj = dt.datetime.strptime(date_time_obj, '%Y-%m-%d %H:%M:%S%z')
                    #print(timezone_date_time_obj)
                    #print(lat,long,timezone_date_time_obj)
                    az=get_azimuth(lat,long,timezone_date_time_obj)
                    sol_pos=pv.get_solarposition(timezone_date_time_obj,lat,long)
                    #display((sol_pos))
                    #print(sol_pos.dtypes)
                    getsolarpos=sol_pos[['apparent_zenith', 'zenith', 'apparent_elevation', 'elevation','azimuth', 'equation_of_time']].values
                    ele=getsolarpos[0][3]
                    ze=getsolarpos[0][1]
                    az=getsolarpos[0][4]
                    #print(spl)
                    liEl.append(ele)
                    liZe.append(ze)
                    liAz.append(az)
        npEl=np.array(liEl)
        npZe=np.array(liZe)
        npAz=np.array(liAz)
        
        avgEl=np.mean(liEl)
        avgZe=np.mean(liZe)
        avgAz=np.mean(liAz)

        avgliEl.append(avgEl)
        avgliZe.append(avgZe)
        avgliAz.append(avgAz)
        
    return avgliEl,avgliZe,avgliAz

In [37]:
from multiprocessing import Pool
import numpy as np
def create_sequences(df):
    cores = 35 #Number of CPU cores on your system
    partitions = cores
    pool = Pool(cores)
    
    partition = int(np.ceil(float(len(df)/partitions)))    
    temp = applyParallel (df,getsolarpos,pool,partition,{'geomap':df.copy()})
    #todf=pd.DataFrame(temp)
    retres=temp
    print(retres)
    pool.close()
    pool.join()
    elevation = []
    zenith = []
    azimuth=[]
    for set_ in retres:
        elevation.extend(set_[0])
        zenith.extend(set_[1])
        azimuth.extend(set_[2])

    elevation, zenith,azimuth = np.array(elevation), np.array(zenith),np.array(azimuth)   
    return elevation,zenith,azimuth
    #return retres

In [38]:
#df_accCount['concate_year'] = df_accCount.apply(lambda row: mergedata(row['cluster_id'],row['UJAHR'],row['UMONAT']), axis=1)
df_accCount=train_generted.copy()

In [39]:
# size = 200

# # sample size
# train_generted_1=train_generted.loc[train_generted['counts']==0]
# replace = True  # with replacement
# fn = lambda obj: obj.loc[np.random.choice(obj.index, size, replace),:]
# train_generted_2=train_generted_1.groupby('geohash', as_index=False).apply(fn)
# train_generted_3=train_generted_2.reset_index()
# train_generted_4=train_generted_3.drop_duplicates()
# train_generted_4.drop(['level_0','level_1'],axis=1,inplace=True)
# train_generted_4

In [40]:
#train_generted_1=train_generted.loc[train_generted['counts']==0]
# train_generted_acc=train_generted.loc[train_generted['counts']>0]
# frames=[train_generted_acc,train_generted_4]
# train_generted_final=pd.concat(frames)
# train_generted_final

In [41]:
# if there is a balance between acc and non acc data, otherwise run above cell
train_generted_final=train_generted.copy()

#train_generted_final['index1'] = train_generted_final.index
train_generted_final['is_present']=1
train_generted_final=train_generted_final.sort_values(['geohash','UJAHR','UMONAT','UWOCHENTAG','hour'])
train_generted_final=train_generted_final.reset_index(drop=True)
train_generted_final
#df_final=df_final.loc[(df_final['azimuth_solar']!=0.0)& (df_final['elevaion']!=0.0)#.iloc[[1472]]#.drop_duplicates()

,geohash,lat,long,UJAHR,UMONAT,UWOCHENTAG,hour,count,middlelat,middlelong,is_present
0,u1kcr,52.282724,7.029718,2017,2,1,5,0,52.282183,7.029096,1
1,u1kcr,52.289223,7.028074,2017,3,7,11,0,52.282183,7.029096,1
2,u1kcr,52.274601,7.029497,2017,9,6,17,0,52.282183,7.029096,1
3,u1kf3,52.468784,6.746606,2017,7,3,5,0,52.466853,6.752533,1
4,u1kf3,52.465030,6.757308,2019,3,2,13,0,52.466853,6.752533,1
...,...,...,...,...,...,...,...,...,...,...,...
258227,u32n0,53.124707,11.259722,2018,11,7,15,0,53.106648,11.261696,1
258228,u32n0,53.101062,11.252092,2019,1,6,18,0,53.106648,11.261696,1
258229,u32n0,53.115779,11.266680,2019,5,2,16,0,53.106648,11.261696,1
258230,u32n0,53.123717,11.255115,2019,5,7,13,0,53.106648,11.261696,1
258231,u32n2,53.131967,11.251837,2017,11,6,19,0,53.131967,11.251837,1

In [42]:
# train_generted_final1=train_generted_final.copy()
# train_generted_final1

In [43]:
# for row,index train_generted_final.iterrows():
#     for i in range(1,9):
#         if row['hour']
#         if ((train_generted_final1['UJAHR'] == row['UJAHR']) and (train_generted_final1['UMONAT'] == row['UMONAT']) and (
#                 train_generted_final1['geohash'] == row['geohash'])
#            and (train_generted_final1['hour'] == row['hour']-i) and (train_generted_final1['UWOCHENTAG'] == row['UWOCHENTAG'])):

In [44]:
#solving 4gib problem

In [45]:
# train_generted_final.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_generted_final.csv",index=False)

In [46]:
train_generted_final.columns

Index(['geohash', 'lat', 'long', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'hour',
       'count', 'middlelat', 'middlelong', 'is_present'],
      dtype='object')

In [47]:
# train_generted_final['sessiondivided'] = pd.Categorical(train_generted_final['sessiondivided'], ["0-2", "2-4", "4-6","6-8","8-10","10-12","12-14","14-16","16-18","18-20","20-22","22-24"])
# train_generted_final

In [48]:
df_midlle_latlong=df_accCount[['geohash','middlelat','middlelong']]
df_midlle_latlong=df_midlle_latlong.drop_duplicates().reset_index().drop(['index'],axis=1)
df_midlle_latlong.columns=['geohash','lat_mid','long_mid']
df_midlle_latlong

     geohash    lat_mid   long_mid
0      u1rt3  52.974308  10.610863
1      u1qcz  52.359271   9.819253
2      u1r1u  52.366557  10.039378
3      u1r40  52.400589   9.859909
4      u1r0v  52.185121  10.088482
...      ...        ...        ...
3968   u1nxb  52.015838   9.182599
3969   u1m8g  52.200255   7.907712
3970   u1sdq  53.833522   6.635246
3971   u1ngf  51.327228   9.611162
3972   u1m3u  52.376760   7.560443

[3973 rows x 3 columns]

In [49]:
def ispresent(middlelat,middlelong):
    is_present=-1
    if  middlelat==0 and middlelong==0:
        is_present=0
    else:
        is_present=1
    return is_present

In [50]:
# def dattmake(train_generted_final):
#     df_final = pd.pivot_table(train_generted_final,
#                        index=['geohash','UJAHR','UMONAT','UWOCHENTAG','hour'],
#                        values=['middlelat', 'middlelong', 'count'],                            
#                        fill_value = 0,
#                        dropna=False,
#                        aggfunc=np.mean).reset_index()
#     return df_final
def parallelize_dataframe(df, func, n_cores=30):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [51]:
import numpy as np
#def add_features(train_generted_final):
df_final = pd.pivot_table(train_generted_final,
                       index=['geohash','UJAHR','UMONAT','UWOCHENTAG','hour'],
                       values=['middlelat', 'middlelong', 'count'],                            
                       fill_value = 0,
                       dropna=False,
                       aggfunc=np.mean).reset_index()
#display(df_finalhour
df_final=df_final.sort_values(['geohash','UJAHR','UMONAT','UWOCHENTAG','hour'])
#df_final=df_final.loc[(df_final['azimuth_solar']!=0.0)& (df_final['elevaion']!=0.0) & (df_final['zenith']!=0.0)]
df_final['is_present']=df_final.apply(lambda row: ispresent(row['middlelat'],row['middlelong']), axis=1)

df_final_train=df_final.loc[((df_final['UJAHR']==2017) & (df_final['UMONAT']<=12)|(df_final['UJAHR']==2018) & (df_final['UMONAT']<=12) | ((df_final['UJAHR']==2019) & (df_final['UMONAT']<=5)))]
df_final_train=df_final_train.reset_index(drop=True)
    
df_final_train

,geohash,UJAHR,UMONAT,UWOCHENTAG,hour,count,middlelat,middlelong,is_present
0,u1kcr,2017,1,1,0,0.0,0.0,0.0,0
1,u1kcr,2017,1,1,1,0.0,0.0,0.0,0
2,u1kcr,2017,1,1,2,0.0,0.0,0.0,0
3,u1kcr,2017,1,1,3,0.0,0.0,0.0,0
4,u1kcr,2017,1,1,4,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
19356451,u32n2,2019,5,7,19,0.0,0.0,0.0,0
19356452,u32n2,2019,5,7,20,0.0,0.0,0.0,0
19356453,u32n2,2019,5,7,21,0.0,0.0,0.0,0
19356454,u32n2,2019,5,7,22,0.0,0.0,0.0,0
19356455,u32n2,2019,5,7,23,0.0,0.0,0.0,0

In [52]:
#train = parallelize_dataframe(train_generted_final, add_features)

In [53]:
df_final_train.head()

,geohash,UJAHR,UMONAT,UWOCHENTAG,hour,count,middlelat,middlelong,is_present
0,u1kcr,2017,1,1,0,0.0,0.0,0.0,0
1,u1kcr,2017,1,1,1,0.0,0.0,0.0,0
2,u1kcr,2017,1,1,2,0.0,0.0,0.0,0
3,u1kcr,2017,1,1,3,0.0,0.0,0.0,0
4,u1kcr,2017,1,1,4,0.0,0.0,0.0,0

In [54]:
df_final_train.memory_usage()

Index               128
geohash       154851648
UJAHR         154851648
UMONAT        154851648
UWOCHENTAG    154851648
hour          154851648
count         154851648
middlelat     154851648
middlelong    154851648
is_present    154851648
dtype: int64

In [54]:
#train_generted_final=train.copy()
#del train
train.head(100000).to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/trai_inte1L.csv",index=False)

In [52]:
train.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/trai_inte.csv",index=False)

In [ ]:
#del train_generted_final

In [55]:
def findpast(row):
    df_filter=pd.DataFrame(columns=['geohash', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'hour', 'middlelat',
       'middlelong', 'count', 'is_present'])
    df_index = df_final_train.loc[
      (df_final_train['UJAHR'] == row['UJAHR']) & (df_final_train['UMONAT'] == row['UMONAT']) & (
                df_final_train['geohash'] == row['geohash'])
       & (df_final_train['hour'] == row['hour']) & (df_final_train['UWOCHENTAG'] == row['UWOCHENTAG'])
    &(df_final_train['is_present'] == row['is_present'])].index[0]
    #print('df_index=',df_index)
    i=int(df_index)-8
    #print('i=',i)
    for i in range(i,df_index):
       # print(type(df_final_train.iloc[[i]]))
        #temp=df_final_train.iloc[[i]]
        df_filter=df_filter.append((df_final_train.iloc[[i]]),ignore_index=True)
        #df_filter['is_p2']=0
        #print('i inside=',i)
        #print(df_filter)
    #df_filter=df_filter.append((df_final_train.iloc[[df_index]]),ignore_index=True)
    #df_filter['is_p2']=2
    #display(df_filter)
    return df_filter

In [56]:
def getdata(df_1,geomap):
    df=pd.DataFrame()
    for index, row in df_1.iterrows(): 
        #print(index)
        temp=findpast(row)
        temp['is_p2']=0
        df=df.append(temp)
        temp1=row
        temp1['is_p2']=2
        df=df.append(temp1)
        
    return df

In [57]:
from multiprocessing import Pool
import numpy as np
def create_sequences_1(df):
    cores = 30#Number of CPU cores on your system
    partitions = cores
    pool = Pool(cores)
    
    partition = int(np.ceil(float(len(df)/partitions)))    
    temp = applyParallel (df,getdata,pool,partition,{'geomap':df.copy()})
    #todf=pd.DataFrame(temp)
    print(type(temp))
    retres=temp
    print(retres)
    pool.close()
    pool.join()
    elevation = []
#     zenith = []
#     azimuth=[]
    
    elevation.extend(retres)
#         zenith.extend(set_[1])
#         azimuth.extend(set_[2])
    #print(retres)
#     elevation, zenith,azimuth = np.array(elevation), np.array(zenith),np.array(azimuth)   
    return elevation
    #return retres

In [58]:
# from multiprocessing.reduction import ForkingPickler, AbstractReducer

# class ForkingPickler4(ForkingPickler):
#     def __init__(self, *args):
#         if len(args) > 1:
#             args[1] = 2
#         else:
#             args.append(2)
#         super().__init__(*args)

#     @classmethod
#     def dumps(cls, obj, protocol=4):
#         return ForkingPickler.dumps(obj, protocol)


# def dump(obj, file, protocol=4):
#     ForkingPickler4(file, protocol).dump(obj)


# class Pickle4Reducer(AbstractReducer):
#     ForkingPickler = ForkingPickler4
#     register = ForkingPickler4.register
#     dump = dump

In [59]:
# import pickle4reducer
# import multiprocessing as mp
# ctx = mp.get_context()
# ctx.reducer = pickle4reducer

# with mp.Pool(30) as p:

#     #res = {}
#     #output = {}
#     #for id, big_df in some_dict_of_big_dfs:
#     res = p.apply_async(create_sequences_1,(train_generted_final ,))
#     #output = {u : res[id].get() for id in id_list}
# # do something

In [60]:
# res

In [107]:
# d = {'col1': [1, 2], 'col2': [3, 4]}
# df = pd.DataFrame(data=d)
# df

In [61]:
df=create_sequences_1(train_generted_final)
df

<class 'list'>
[     geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0      u1kcr  2017      1          7   21   0.000000    0.000000    0.0
1      u1kcr  2017      1          7   22   0.000000    0.000000    0.0
2      u1kcr  2017      1          7   23   0.000000    0.000000    0.0
3      u1kcr  2017      2          1    0   0.000000    0.000000    0.0
4      u1kcr  2017      2          1    1   0.000000    0.000000    0.0
...      ...   ...    ...        ...  ...        ...         ...    ...
4      u1m5v  2017      7          6   21   0.000000    0.000000    0.0
5      u1m5v  2017      7          6   22   0.000000    0.000000    0.0
6      u1m5v  2017      7          6   23   0.000000    0.000000    0.0
7      u1m5v  2017      7          7    0   0.000000    0.000000    0.0
8607   u1m5v  2017      7          7    1  52.701825    7.279733    0.0

     is_present  is_p2       lat      long
0             0      0       NaN       NaN
1             0      0       NaN       NaN
2             0      0       NaN       NaN
3             0      0       NaN       NaN
4             0      0       NaN       NaN
...         ...    ...       ...       ...
4             0      0       NaN       NaN
5             0      0       NaN       NaN
6             0      0       NaN       NaN
7             0      0       NaN       NaN
8607          1      2  52.69992  7.291624

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1m5v  2017      8          3    7   0.000000    0.000000    0.0
1       u1m5v  2017      8          3    8   0.000000    0.000000    0.0
2       u1m5v  2017      8          3    9   0.000000    0.000000    0.0
3       u1m5v  2017      8          3   10   0.000000    0.000000    0.0
4       u1m5v  2017      8          3   11   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1mbt  2018      9          6    4   0.000000    0.000000    0.0
5       u1mbt  2018      9          6    5   0.000000    0.000000    0.0
6       u1mbt  2018      9          6    6   0.000000    0.000000    0.0
7       u1mbt  2018      9          6    7   0.000000    0.000000    0.0
17215   u1mbt  2018      9          6    8  52.143573    8.325793    0.0

      is_present  is_p2        lat      long
0              0      0        NaN       NaN
1              0      0        NaN       NaN
2              0      0        NaN       NaN
3              0      0        NaN       NaN
4              0      0        NaN       NaN
...          ...    ...        ...       ...
4              0      0        NaN       NaN
5              0      0        NaN       NaN
6              0      0        NaN       NaN
7              0      0        NaN       NaN
17215          1      2  52.128739  8.306188

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1mbt  2018      9          7    7   0.000000    0.000000    0.0
1       u1mbt  2018      9          7    8   0.000000    0.000000    0.0
2       u1mbt  2018      9          7    9   0.000000    0.000000    0.0
3       u1mbt  2018      9          7   10   0.000000    0.000000    0.0
4       u1mbt  2018      9          7   11   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1mfq  2017      3          4    5   0.000000    0.000000    0.0
5       u1mfq  2017      3          4    6   0.000000    0.000000    0.0
6       u1mfq  2017      3          4    7   0.000000    0.000000    0.0
7       u1mfq  2017      3          4    8   0.000000    0.000000    0.0
25823   u1mfq  2017      3          4    9  52.459012    8.373651    0.0

      is_present  is_p2        lat      long
0              0      0        NaN       NaN
1              0      0        NaN       NaN
2              0      0        NaN       NaN
3              0      0        NaN       NaN
4              0      0        NaN       NaN
...          ...    ...        ...       ...
4              0      0        NaN       NaN
5              0      0        NaN       NaN
6              0      0        NaN       NaN
7              0      0        NaN       NaN
25823          1      2  52.461635  8.356478

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1mfq  2017      3          6   20   0.000000    0.000000    0.0
1       u1mfq  2017      3          6   21   0.000000    0.000000    0.0
2       u1mfq  2017      3          6   22   0.000000    0.000000    0.0
3       u1mfq  2017      3          6   23   0.000000    0.000000    0.0
4       u1mfq  2017      3          7    0   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1mmb  2018     12          7   16   0.000000    0.000000    0.0
5       u1mmb  2018     12          7   17   0.000000    0.000000    0.0
6       u1mmb  2018     12          7   18   0.000000    0.000000    0.0
7       u1mmb  2018     12          7   19   0.000000    0.000000    0.0
34431   u1mmb  2018     12          7   20  53.073622    7.400925    1.0

      is_present  is_p2       lat      long
0              0      0       NaN       NaN
1              0      0       NaN       NaN
2              0      0       NaN       NaN
3              0      0       NaN       NaN
4              0      0       NaN       NaN
...          ...    ...       ...       ...
4              0      0       NaN       NaN
5              0      0       NaN       NaN
6              0      0       NaN       NaN
7              0      0       NaN       NaN
34431          1      2  53.07226  7.387202

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1mmb  2019      1          2   11   0.000000     0.00000    0.0
1       u1mmb  2019      1          2   12   0.000000     0.00000    0.0
2       u1mmb  2019      1          2   13   0.000000     0.00000    0.0
3       u1mmb  2019      1          2   14   0.000000     0.00000    0.0
4       u1mmb  2019      1          2   15   0.000000     0.00000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1mrx  2018      4          7    3   0.000000     0.00000    0.0
5       u1mrx  2018      4          7    4   0.000000     0.00000    0.0
6       u1mrx  2018      4          7    5   0.000000     0.00000    0.0
7       u1mrx  2018      4          7    6   0.000000     0.00000    0.0
43039   u1mrx  2018      4          7    7  53.372791     7.71053    0.0

      is_present  is_p2        lat      long
0              0      0        NaN       NaN
1              0      0        NaN       NaN
2              0      0        NaN       NaN
3              0      0        NaN       NaN
4              0      0        NaN       NaN
...          ...    ...        ...       ...
4              0      0        NaN       NaN
5              0      0        NaN       NaN
6              0      0        NaN       NaN
7              0      0        NaN       NaN
43039          1      2  53.358141  7.702188

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1mrx  2018      5          3   20   0.000000    0.000000    0.0
1       u1mrx  2018      5          3   21   0.000000    0.000000    0.0
2       u1mrx  2018      5          3   22   0.000000    0.000000    0.0
3       u1mrx  2018      5          3   23   0.000000    0.000000    0.0
4       u1mrx  2018      5          4    0   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1mvt  2018      7          1    8   0.000000    0.000000    0.0
5       u1mvt  2018      7          1    9   0.000000    0.000000    0.0
6       u1mvt  2018      7          1   10   0.000000    0.000000    0.0
7       u1mvt  2018      7          1   11   0.000000    0.000000    0.0
51647   u1mvt  2018      7          1   12  53.019956    8.331068    0.0

      is_present  is_p2        lat      long
0              0      0        NaN       NaN
1              0      0        NaN       NaN
2              0      0        NaN       NaN
3              0      0        NaN       NaN
4              0      0        NaN       NaN
...          ...    ...        ...       ...
4              0      0        NaN       NaN
5              0      0        NaN       NaN
6              0      0        NaN       NaN
7              0      0        NaN       NaN
51647          1      2  53.029865  8.306472

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1mvt  2018      7          4    9   0.000000    0.000000    0.0
1       u1mvt  2018      7          4   10   0.000000    0.000000    0.0
2       u1mvt  2018      7          4   11   0.000000    0.000000    0.0
3       u1mvt  2018      7          4   12   0.000000    0.000000    0.0
4       u1mvt  2018      7          4   13   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1mz1  2019      2          7    5   0.000000    0.000000    0.0
5       u1mz1  2019      2          7    6   0.000000    0.000000    0.0
6       u1mz1  2019      2          7    7   0.000000    0.000000    0.0
7       u1mz1  2019      2          7    8   0.000000    0.000000    0.0
60255   u1mz1  2019      2          7    9  53.281932    8.154567    0.0

      is_present  is_p2       lat      long
0              0      0       NaN       NaN
1              0      0       NaN       NaN
2              0      0       NaN       NaN
3              0      0       NaN       NaN
4              0      0       NaN       NaN
...          ...    ...       ...       ...
4              0      0       NaN       NaN
5              0      0       NaN       NaN
6              0      0       NaN       NaN
7              0      0       NaN       NaN
60255          1      2  53.28486  8.145983

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1mz1  2019      3          7    1    0.00000    0.000000    0.0
1       u1mz1  2019      3          7    2    0.00000    0.000000    0.0
2       u1mz1  2019      3          7    3    0.00000    0.000000    0.0
3       u1mz1  2019      3          7    4    0.00000    0.000000    0.0
4       u1mz1  2019      3          7    5    0.00000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1nz3  2017      8          7   10    0.00000    0.000000    0.0
5       u1nz3  2017      8          7   11    0.00000    0.000000    0.0
6       u1nz3  2017      8          7   12    0.00000    0.000000    0.0
7       u1nz3  2017      8          7   13    0.00000    0.000000    0.0
68863   u1nz3  2017      8          7   14   51.92051    9.561726    0.0

      is_present  is_p2        lat     long
0              0      0        NaN      NaN
1              0      0        NaN      NaN
2              0      0        NaN      NaN
3              0      0        NaN      NaN
4              0      0        NaN      NaN
...          ...    ...        ...      ...
4              0      0        NaN      NaN
5              0      0        NaN      NaN
6              0      0        NaN      NaN
7              0      0        NaN      NaN
68863          1      2  51.909229  9.57159

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1nz3  2017      8          7    8   0.000000    0.000000    0.0
1       u1nz3  2017      8          7    9   0.000000    0.000000    0.0
2       u1nz3  2017      8          7   10   0.000000    0.000000    0.0
3       u1nz3  2017      8          7   11   0.000000    0.000000    0.0
4       u1nz3  2017      8          7   12   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1pn9  2018     12          2   16   0.000000    0.000000    0.0
5       u1pn9  2018     12          2   17   0.000000    0.000000    0.0
6       u1pn9  2018     12          2   18   0.000000    0.000000    0.0
7       u1pn9  2018     12          2   19   0.000000    0.000000    0.0
77471   u1pn9  2018     12          2   20  51.789802    9.913323    0.0

      is_present  is_p2        lat      long
0              0      0        NaN       NaN
1              0      0        NaN       NaN
2              0      0        NaN       NaN
3              0      0        NaN       NaN
4              0      0        NaN       NaN
...          ...    ...        ...       ...
4              0      0        NaN       NaN
5              0      0        NaN       NaN
6              0      0        NaN       NaN
7              0      0        NaN       NaN
77471          1      2  51.801216  9.926137

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1pn9  2019      1          3    5   0.000000    0.000000    0.0
1       u1pn9  2019      1          3    6   0.000000    0.000000    0.0
2       u1pn9  2019      1          3    7   0.000000    0.000000    0.0
3       u1pn9  2019      1          3    8   0.000000    0.000000    0.0
4       u1pn9  2019      1          3    9   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1px2  2019      4          1    3   0.000000    0.000000    0.0
5       u1px2  2019      4          1    4   0.000000    0.000000    0.0
6       u1px2  2019      4          1    5   0.000000    0.000000    0.0
7       u1px2  2019      4          1    6   0.000000    0.000000    0.0
86079   u1px2  2019      4          1    7  51.918659   10.565578    0.0

      is_present  is_p2        lat       long
0              0      0        NaN        NaN
1              0      0        NaN        NaN
2              0      0        NaN        NaN
3              0      0        NaN        NaN
4              0      0        NaN        NaN
...          ...    ...        ...        ...
4              0      0        NaN        NaN
5              0      0        NaN        NaN
6              0      0        NaN        NaN
7              0      0        NaN        NaN
86079          1      2  51.923324  10.569333

[77472 rows x 12 columns],       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0       u1px2  2019      4          4    0   0.000000    0.000000    0.0
1       u1px2  2019      4          4    1   0.000000    0.000000    0.0
2       u1px2  2019      4          4    2   0.000000    0.000000    0.0
3       u1px2  2019      4          4    3   0.000000    0.000000    0.0
4       u1px2  2019      4          4    4   0.000000    0.000000    0.0
...       ...   ...    ...        ...  ...        ...         ...    ...
4       u1q8g  2018      7          1    5   0.000000    0.000000    0.0
5       u1q8g  2018      7          1    6   0.000000    0.000000    0.0
6       u1q8g  2018      7          1    7   0.000000    0.000000    0.0
7       u1q8g  2018      7          1    8   0.000000    0.000000    0.0
94687   u1q8g  2018      7          1    9  52.185387    9.295375    0.0

      is_present  is_p2        lat      long
0              0      0        NaN       NaN
1              0      0        NaN       NaN
2              0      0        NaN       NaN
3              0      0        NaN       NaN
4              0      0        NaN       NaN
...          ...    ...        ...       ...
4              0      0        NaN       NaN
5              0      0        NaN       NaN
6              0      0        NaN       NaN
7              0      0        NaN       NaN
94687          1      2  52.181381  9.314394

[77472 rows x 12 columns],        geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0        u1q8g  2018      7          4   18     0.0000    0.000000    0.0
1        u1q8g  2018      7          4   19     0.0000    0.000000    0.0
2        u1q8g  2018      7          4   20     0.0000    0.000000    0.0
3        u1q8g  2018      7          4   21     0.0000    0.000000    0.0
4        u1q8g  2018      7          4   22     0.0000    0.000000    0.0
...        ...   ...    ...        ...  ...        ...         ...    ...
4        u1qcu  2017      6          3   13     0.0000    0.000000    0.0
5        u1qcu  2017      6          3   14     0.0000    0.000000    0.0
6        u1qcu  2017      6          3   15    52.3642    9.693755    1.0
7        u1qcu  2017      6          3   16     0.0000    0.000000    0.0
103295   u1qcu  2017      6          3   17    52.3642    9.693755    1.0

       is_present  is_p2        lat      long
0               0      0        NaN       NaN
1               0      0        NaN       NaN
2               0      0        NaN       NaN
3               0      0        NaN       NaN
4               0      0        NaN       NaN
...           ...    ...        ...       ...
4               0      0        NaN       NaN
5               0      0        NaN       NaN
6               1      0        NaN       NaN
7               0      0        NaN       NaN
103295          1      2  52.376889  9.690934

[77472 rows x 12 columns],        geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0        u1qcu  2017      6          3   23   0.000000    0.000000    0.0
1        u1qcu  2017      6          4    0   0.000000    0.000000    0.0
2        u1qcu  2017      6          4    1   0.000000    0.000000    0.0
3        u1qcu  2017      6          4    2   0.000000    0.000000    0.0
4        u1qcu  2017      6          4    3   0.000000    0.000000    0.0
...        ...   ...    ...        ...  ...        ...         ...    ...
4        u1qf4  2018      8          5   12   0.000000    0.000000    0.0
5        u1qf4  2018      8          5   13   0.000000    0.000000    0.0
6        u1qf4  2018      8          5   14   0.000000    0.000000    0.0
7        u1qf4  2018      8          5   15   0.000000    0.000000    0.0
111903   u1qf4  2018      8          5   16  52.410076    9.601416    1.0

       is_present  is_p2       lat      long
0               0      0       NaN       NaN
1               0      0       NaN       NaN
2               0      0       NaN       NaN
3               0      0       NaN       NaN
4               0      0       NaN       NaN
...           ...    ...       ...       ...
4               0      0       NaN       NaN
5               0      0       NaN       NaN
6               0      0       NaN       NaN
7               0      0       NaN       NaN
111903          1      2  52.40576  9.617144

[77472 rows x 12 columns],        geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
0        u1qf4  2018      8          6    6   0.000000    0.000000    0.0
1        u1qf4  2018      8          6    7   0.000000    0.000000    0.0
2        u1qf4  2018      8          6    8   0.000000    0.000000    0.0
3        u1qf4  2018      8          6    9   0.000000    0.000000    0.0
4        u1qf4  2018      8          6   10   0.000000    0.000000    0.0
...        ...   ...    ...        ...  ...        ...         ...    ...
4        u1qhw  2018      8          2    0   0.000000    0.000000    0.0
5        u1qhw  2018      8          2    1   0.000000    0.000000    0.0
6        u1qhw  2018      8          2    2   0.000000    0.000000    0.0
7        u1qhw  2018      8          2    3   0.000000    0.000000    0.0
120511   u1qhw  2018      8          2    4  52.846895    8.726584    0.0

       is_present  is_p2        lat      long
0               0      0        NaN       NaN
1               0      0        NaN       NaN
2               0      0        NaN       NaN
3               0      0        NaN       NaN
4               0      0        NaN       NaN

[     geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0      u1kcr  2017      1          7   21   0.000000    0.000000    0.0
 1      u1kcr  2017      1          7   22   0.000000    0.000000    0.0
 2      u1kcr  2017      1          7   23   0.000000    0.000000    0.0
 3      u1kcr  2017      2          1    0   0.000000    0.000000    0.0
 4      u1kcr  2017      2          1    1   0.000000    0.000000    0.0
 ...      ...   ...    ...        ...  ...        ...         ...    ...
 4      u1m5v  2017      7          6   21   0.000000    0.000000    0.0
 5      u1m5v  2017      7          6   22   0.000000    0.000000    0.0
 6      u1m5v  2017      7          6   23   0.000000    0.000000    0.0
 7      u1m5v  2017      7          7    0   0.000000    0.000000    0.0
 8607   u1m5v  2017      7          7    1  52.701825    7.279733    0.0

      is_present  is_p2       lat      long
 0             0      0       NaN       NaN
 1             0      0       NaN       NaN
 2             0      0       NaN       NaN
 3             0      0       NaN       NaN
 4             0      0       NaN       NaN
 ...         ...    ...       ...       ...
 4             0      0       NaN       NaN
 5             0      0       NaN       NaN
 6             0      0       NaN       NaN
 7             0      0       NaN       NaN
 8607          1      2  52.69992  7.291624

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1m5v  2017      8          3    7   0.000000    0.000000    0.0
 1       u1m5v  2017      8          3    8   0.000000    0.000000    0.0
 2       u1m5v  2017      8          3    9   0.000000    0.000000    0.0
 3       u1m5v  2017      8          3   10   0.000000    0.000000    0.0
 4       u1m5v  2017      8          3   11   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1mbt  2018      9          6    4   0.000000    0.000000    0.0
 5       u1mbt  2018      9          6    5   0.000000    0.000000    0.0
 6       u1mbt  2018      9          6    6   0.000000    0.000000    0.0
 7       u1mbt  2018      9          6    7   0.000000    0.000000    0.0
 17215   u1mbt  2018      9          6    8  52.143573    8.325793    0.0

       is_present  is_p2        lat      long
 0              0      0        NaN       NaN
 1              0      0        NaN       NaN
 2              0      0        NaN       NaN
 3              0      0        NaN       NaN
 4              0      0        NaN       NaN
 ...          ...    ...        ...       ...
 4              0      0        NaN       NaN
 5              0      0        NaN       NaN
 6              0      0        NaN       NaN
 7              0      0        NaN       NaN
 17215          1      2  52.128739  8.306188

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1mbt  2018      9          7    7   0.000000    0.000000    0.0
 1       u1mbt  2018      9          7    8   0.000000    0.000000    0.0
 2       u1mbt  2018      9          7    9   0.000000    0.000000    0.0
 3       u1mbt  2018      9          7   10   0.000000    0.000000    0.0
 4       u1mbt  2018      9          7   11   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1mfq  2017      3          4    5   0.000000    0.000000    0.0
 5       u1mfq  2017      3          4    6   0.000000    0.000000    0.0
 6       u1mfq  2017      3          4    7   0.000000    0.000000    0.0
 7       u1mfq  2017      3          4    8   0.000000    0.000000    0.0
 25823   u1mfq  2017      3          4    9  52.459012    8.373651    0.0

       is_present  is_p2        lat      long
 0              0      0        NaN       NaN
 1              0      0        NaN       NaN
 2              0      0        NaN       NaN
 3              0      0        NaN       NaN
 4              0      0        NaN       NaN
 ...          ...    ...        ...       ...
 4              0      0        NaN       NaN
 5              0      0        NaN       NaN
 6              0      0        NaN       NaN
 7              0      0        NaN       NaN
 25823          1      2  52.461635  8.356478

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1mfq  2017      3          6   20   0.000000    0.000000    0.0
 1       u1mfq  2017      3          6   21   0.000000    0.000000    0.0
 2       u1mfq  2017      3          6   22   0.000000    0.000000    0.0
 3       u1mfq  2017      3          6   23   0.000000    0.000000    0.0
 4       u1mfq  2017      3          7    0   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1mmb  2018     12          7   16   0.000000    0.000000    0.0
 5       u1mmb  2018     12          7   17   0.000000    0.000000    0.0
 6       u1mmb  2018     12          7   18   0.000000    0.000000    0.0
 7       u1mmb  2018     12          7   19   0.000000    0.000000    0.0
 34431   u1mmb  2018     12          7   20  53.073622    7.400925    1.0

       is_present  is_p2       lat      long
 0              0      0       NaN       NaN
 1              0      0       NaN       NaN
 2              0      0       NaN       NaN
 3              0      0       NaN       NaN
 4              0      0       NaN       NaN
 ...          ...    ...       ...       ...
 4              0      0       NaN       NaN
 5              0      0       NaN       NaN
 6              0      0       NaN       NaN
 7              0      0       NaN       NaN
 34431          1      2  53.07226  7.387202

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1mmb  2019      1          2   11   0.000000     0.00000    0.0
 1       u1mmb  2019      1          2   12   0.000000     0.00000    0.0
 2       u1mmb  2019      1          2   13   0.000000     0.00000    0.0
 3       u1mmb  2019      1          2   14   0.000000     0.00000    0.0
 4       u1mmb  2019      1          2   15   0.000000     0.00000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1mrx  2018      4          7    3   0.000000     0.00000    0.0
 5       u1mrx  2018      4          7    4   0.000000     0.00000    0.0
 6       u1mrx  2018      4          7    5   0.000000     0.00000    0.0
 7       u1mrx  2018      4          7    6   0.000000     0.00000    0.0
 43039   u1mrx  2018      4          7    7  53.372791     7.71053    0.0

       is_present  is_p2        lat      long
 0              0      0        NaN       NaN
 1              0      0        NaN       NaN
 2              0      0        NaN       NaN
 3              0      0        NaN       NaN
 4              0      0        NaN       NaN
 ...          ...    ...        ...       ...
 4              0      0        NaN       NaN
 5              0      0        NaN       NaN
 6              0      0        NaN       NaN
 7              0      0        NaN       NaN
 43039          1      2  53.358141  7.702188

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1mrx  2018      5          3   20   0.000000    0.000000    0.0
 1       u1mrx  2018      5          3   21   0.000000    0.000000    0.0
 2       u1mrx  2018      5          3   22   0.000000    0.000000    0.0
 3       u1mrx  2018      5          3   23   0.000000    0.000000    0.0
 4       u1mrx  2018      5          4    0   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1mvt  2018      7          1    8   0.000000    0.000000    0.0
 5       u1mvt  2018      7          1    9   0.000000    0.000000    0.0
 6       u1mvt  2018      7          1   10   0.000000    0.000000    0.0
 7       u1mvt  2018      7          1   11   0.000000    0.000000    0.0
 51647   u1mvt  2018      7          1   12  53.019956    8.331068    0.0

       is_present  is_p2        lat      long
 0              0      0        NaN       NaN
 1              0      0        NaN       NaN
 2              0      0        NaN       NaN
 3              0      0        NaN       NaN
 4              0      0        NaN       NaN
 ...          ...    ...        ...       ...
 4              0      0        NaN       NaN
 5              0      0        NaN       NaN
 6              0      0        NaN       NaN
 7              0      0        NaN       NaN
 51647          1      2  53.029865  8.306472

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1mvt  2018      7          4    9   0.000000    0.000000    0.0
 1       u1mvt  2018      7          4   10   0.000000    0.000000    0.0
 2       u1mvt  2018      7          4   11   0.000000    0.000000    0.0
 3       u1mvt  2018      7          4   12   0.000000    0.000000    0.0
 4       u1mvt  2018      7          4   13   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1mz1  2019      2          7    5   0.000000    0.000000    0.0
 5       u1mz1  2019      2          7    6   0.000000    0.000000    0.0
 6       u1mz1  2019      2          7    7   0.000000    0.000000    0.0
 7       u1mz1  2019      2          7    8   0.000000    0.000000    0.0
 60255   u1mz1  2019      2          7    9  53.281932    8.154567    0.0

       is_present  is_p2       lat      long
 0              0      0       NaN       NaN
 1              0      0       NaN       NaN
 2              0      0       NaN       NaN
 3              0      0       NaN       NaN
 4              0      0       NaN       NaN
 ...          ...    ...       ...       ...
 4              0      0       NaN       NaN
 5              0      0       NaN       NaN
 6              0      0       NaN       NaN
 7              0      0       NaN       NaN
 60255          1      2  53.28486  8.145983

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1mz1  2019      3          7    1    0.00000    0.000000    0.0
 1       u1mz1  2019      3          7    2    0.00000    0.000000    0.0
 2       u1mz1  2019      3          7    3    0.00000    0.000000    0.0
 3       u1mz1  2019      3          7    4    0.00000    0.000000    0.0
 4       u1mz1  2019      3          7    5    0.00000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1nz3  2017      8          7   10    0.00000    0.000000    0.0
 5       u1nz3  2017      8          7   11    0.00000    0.000000    0.0
 6       u1nz3  2017      8          7   12    0.00000    0.000000    0.0
 7       u1nz3  2017      8          7   13    0.00000    0.000000    0.0
 68863   u1nz3  2017      8          7   14   51.92051    9.561726    0.0

       is_present  is_p2        lat     long
 0              0      0        NaN      NaN
 1              0      0        NaN      NaN
 2              0      0        NaN      NaN
 3              0      0        NaN      NaN
 4              0      0        NaN      NaN
 ...          ...    ...        ...      ...
 4              0      0        NaN      NaN
 5              0      0        NaN      NaN
 6              0      0        NaN      NaN
 7              0      0        NaN      NaN
 68863          1      2  51.909229  9.57159

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1nz3  2017      8          7    8   0.000000    0.000000    0.0
 1       u1nz3  2017      8          7    9   0.000000    0.000000    0.0
 2       u1nz3  2017      8          7   10   0.000000    0.000000    0.0
 3       u1nz3  2017      8          7   11   0.000000    0.000000    0.0
 4       u1nz3  2017      8          7   12   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1pn9  2018     12          2   16   0.000000    0.000000    0.0
 5       u1pn9  2018     12          2   17   0.000000    0.000000    0.0
 6       u1pn9  2018     12          2   18   0.000000    0.000000    0.0
 7       u1pn9  2018     12          2   19   0.000000    0.000000    0.0
 77471   u1pn9  2018     12          2   20  51.789802    9.913323    0.0

       is_present  is_p2        lat      long
 0              0      0        NaN       NaN
 1              0      0        NaN       NaN
 2              0      0        NaN       NaN
 3              0      0        NaN       NaN
 4              0      0        NaN       NaN
 ...          ...    ...        ...       ...
 4              0      0        NaN       NaN
 5              0      0        NaN       NaN
 6              0      0        NaN       NaN
 7              0      0        NaN       NaN
 77471          1      2  51.801216  9.926137

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1pn9  2019      1          3    5   0.000000    0.000000    0.0
 1       u1pn9  2019      1          3    6   0.000000    0.000000    0.0
 2       u1pn9  2019      1          3    7   0.000000    0.000000    0.0
 3       u1pn9  2019      1          3    8   0.000000    0.000000    0.0
 4       u1pn9  2019      1          3    9   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1px2  2019      4          1    3   0.000000    0.000000    0.0
 5       u1px2  2019      4          1    4   0.000000    0.000000    0.0
 6       u1px2  2019      4          1    5   0.000000    0.000000    0.0
 7       u1px2  2019      4          1    6   0.000000    0.000000    0.0
 86079   u1px2  2019      4          1    7  51.918659   10.565578    0.0

       is_present  is_p2        lat       long
 0              0      0        NaN        NaN
 1              0      0        NaN        NaN
 2              0      0        NaN        NaN
 3              0      0        NaN        NaN
 4              0      0        NaN        NaN
 ...          ...    ...        ...        ...
 4              0      0        NaN        NaN
 5              0      0        NaN        NaN
 6              0      0        NaN        NaN
 7              0      0        NaN        NaN
 86079          1      2  51.923324  10.569333

 [77472 rows x 12 columns],
       geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0       u1px2  2019      4          4    0   0.000000    0.000000    0.0
 1       u1px2  2019      4          4    1   0.000000    0.000000    0.0
 2       u1px2  2019      4          4    2   0.000000    0.000000    0.0
 3       u1px2  2019      4          4    3   0.000000    0.000000    0.0
 4       u1px2  2019      4          4    4   0.000000    0.000000    0.0
 ...       ...   ...    ...        ...  ...        ...         ...    ...
 4       u1q8g  2018      7          1    5   0.000000    0.000000    0.0
 5       u1q8g  2018      7          1    6   0.000000    0.000000    0.0
 6       u1q8g  2018      7          1    7   0.000000    0.000000    0.0
 7       u1q8g  2018      7          1    8   0.000000    0.000000    0.0
 94687   u1q8g  2018      7          1    9  52.185387    9.295375    0.0

       is_present  is_p2        lat      long
 0              0      0        NaN       NaN
 1              0      0        NaN       NaN
 2              0      0        NaN       NaN
 3              0      0        NaN       NaN
 4              0      0        NaN       NaN
 ...          ...    ...        ...       ...
 4              0      0        NaN       NaN
 5              0      0        NaN       NaN
 6              0      0        NaN       NaN
 7              0      0        NaN       NaN
 94687          1      2  52.181381  9.314394

 [77472 rows x 12 columns],
        geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0        u1q8g  2018      7          4   18     0.0000    0.000000    0.0
 1        u1q8g  2018      7          4   19     0.0000    0.000000    0.0
 2        u1q8g  2018      7          4   20     0.0000    0.000000    0.0
 3        u1q8g  2018      7          4   21     0.0000    0.000000    0.0
 4        u1q8g  2018      7          4   22     0.0000    0.000000    0.0
 ...        ...   ...    ...        ...  ...        ...         ...    ...
 4        u1qcu  2017      6          3   13     0.0000    0.000000    0.0
 5        u1qcu  2017      6          3   14     0.0000    0.000000    0.0
 6        u1qcu  2017      6          3   15    52.3642    9.693755    1.0
 7        u1qcu  2017      6          3   16     0.0000    0.000000    0.0
 103295   u1qcu  2017      6          3   17    52.3642    9.693755    1.0

        is_present  is_p2        lat      long
 0               0      0        NaN       NaN
 1               0      0        NaN       NaN
 2               0      0        NaN       NaN
 3               0      0        NaN       NaN
 4               0      0        NaN       NaN
 ...           ...    ...        ...       ...
 4               0      0        NaN       NaN
 5               0      0        NaN       NaN
 6               1      0        NaN       NaN
 7               0      0        NaN       NaN
 103295          1      2  52.376889  9.690934

 [77472 rows x 12 columns],
        geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0        u1qcu  2017      6          3   23   0.000000    0.000000    0.0
 1        u1qcu  2017      6          4    0   0.000000    0.000000    0.0
 2        u1qcu  2017      6          4    1   0.000000    0.000000    0.0
 3        u1qcu  2017      6          4    2   0.000000    0.000000    0.0
 4        u1qcu  2017      6          4    3   0.000000    0.000000    0.0
 ...        ...   ...    ...        ...  ...        ...         ...    ...
 4        u1qf4  2018      8          5   12   0.000000    0.000000    0.0
 5        u1qf4  2018      8          5   13   0.000000    0.000000    0.0
 6        u1qf4  2018      8          5   14   0.000000    0.000000    0.0
 7        u1qf4  2018      8          5   15   0.000000    0.000000    0.0
 111903   u1qf4  2018      8          5   16  52.410076    9.601416    1.0

        is_present  is_p2       lat      long
 0               0      0       NaN       NaN
 1               0      0       NaN       NaN
 2               0      0       NaN       NaN
 3               0      0       NaN       NaN
 4               0      0       NaN       NaN
 ...           ...    ...       ...       ...
 4               0      0       NaN       NaN
 5               0      0       NaN       NaN
 6               0      0       NaN       NaN
 7               0      0       NaN       NaN
 111903          1      2  52.40576  9.617144

 [77472 rows x 12 columns],
        geohash UJAHR UMONAT UWOCHENTAG hour  middlelat  middlelong  count  \
 0        u1qf4  2018      8          6    6   0.000000    0.000000    0.0
 1        u1qf4  2018      8          6    7   0.000000    0.000000    0.0
 2        u1qf4  2018      8          6    8   0.000000    0.000000    0.0
 3        u1qf4  2018      8          6    9   0.000000    0.000000    0.0
 4        u1qf4  2018      8          6   10   0.000000    0.000000    0.0
 ...        ...   ...    ...        ...  ...        ...         ...    ...
 4        u1qhw  2018      8          2    0   0.000000    0.000000    0.0
 5        u1qhw  2018      8          2    1   0.000000    0.000000    0.0
 6        u1qhw  2018      8          2    2   0.000000    0.000000    0.0
 7        u1qhw  2018      8          2    3   0.000000    0.000000    0.0

In [ ]:
del train_generted_final
del train

In [62]:
print(city)

new_method/LS/1x1Grid

In [63]:
df_final=pd.DataFrame()
for df1 in df:
    df_final=df_final.append(df1)
# df_final=df_final.sort_values(['cluster_id','UJAHR','UMONAT','UWOCHENTAG','hour'])
df_final=df_final.reset_index(drop=True)
df_final

,geohash,UJAHR,UMONAT,UWOCHENTAG,hour,middlelat,middlelong,count,is_present,is_p2,lat,long
0,u1kcr,2017,1,7,21,0.000000,0.000000,0.0,0,0,NaN,NaN
1,u1kcr,2017,1,7,22,0.000000,0.000000,0.0,0,0,NaN,NaN
2,u1kcr,2017,1,7,23,0.000000,0.000000,0.0,0,0,NaN,NaN
3,u1kcr,2017,2,1,0,0.000000,0.000000,0.0,0,0,NaN,NaN
4,u1kcr,2017,2,1,1,0.000000,0.000000,0.0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2324083,u32n2,2017,11,6,15,0.000000,0.000000,0.0,0,0,NaN,NaN
2324084,u32n2,2017,11,6,16,0.000000,0.000000,0.0,0,0,NaN,NaN
2324085,u32n2,2017,11,6,17,0.000000,0.000000,0.0,0,0,NaN,NaN
2324086,u32n2,2017,11,6,18,0.000000,0.000000,0.0,0,0,NaN,NaN
2324087,u32n2,2017,11,6,19,53.131967,11.251837,0.0,1,2,53.131967,11.251837

In [64]:
df_final.columns

Index(['geohash', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'hour', 'middlelat',
       'middlelong', 'count', 'is_present', 'is_p2', 'lat', 'long'],
      dtype='object')

In [65]:
join_middle_latlong=pd.merge(df_final,df_midlle_latlong,on='geohash',how='left')
join_middle_latlong.drop(['middlelat','middlelong'],axis=1,inplace=True)
join_middle_latlong=join_middle_latlong[['geohash', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'hour', 'count', 'is_present', 'is_p2'
                                        ,'lat_mid','long_mid']]
join_middle_latlong.columns=['geohash', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'USTUNDE',
       'counts', 'is_present', 'is_p2','middlelat', 'middlelong']
join_middle_latlong

,geohash,UJAHR,UMONAT,UWOCHENTAG,USTUNDE,counts,is_present,is_p2,middlelat,middlelong
0,u1kcr,2017,1,7,21,0.0,0,0,52.282183,7.029096
1,u1kcr,2017,1,7,22,0.0,0,0,52.282183,7.029096
2,u1kcr,2017,1,7,23,0.0,0,0,52.282183,7.029096
3,u1kcr,2017,2,1,0,0.0,0,0,52.282183,7.029096
4,u1kcr,2017,2,1,1,0.0,0,0,52.282183,7.029096
...,...,...,...,...,...,...,...,...,...,...
2324083,u32n2,2017,11,6,15,0.0,0,0,53.131967,11.251837
2324084,u32n2,2017,11,6,16,0.0,0,0,53.131967,11.251837
2324085,u32n2,2017,11,6,17,0.0,0,0,53.131967,11.251837
2324086,u32n2,2017,11,6,18,0.0,0,0,53.131967,11.251837
2324087,u32n2,2017,11,6,19,0.0,1,2,53.131967,11.251837

In [66]:
join_middle_latlong.head(100)

,geohash,UJAHR,UMONAT,UWOCHENTAG,USTUNDE,counts,is_present,is_p2,middlelat,middlelong
0,u1kcr,2017,1,7,21,0.0,0,0,52.282183,7.029096
1,u1kcr,2017,1,7,22,0.0,0,0,52.282183,7.029096
2,u1kcr,2017,1,7,23,0.0,0,0,52.282183,7.029096
3,u1kcr,2017,2,1,0,0.0,0,0,52.282183,7.029096
4,u1kcr,2017,2,1,1,0.0,0,0,52.282183,7.029096
...,...,...,...,...,...,...,...,...,...,...
95,u1kf6,2018,2,4,20,0.0,0,0,52.465076,6.788395
96,u1kf6,2018,2,4,21,0.0,0,0,52.465076,6.788395
97,u1kf6,2018,2,4,22,0.0,0,0,52.465076,6.788395
98,u1kf6,2018,2,4,23,0.0,1,2,52.465076,6.788395
99,u1kf6,2018,4,2,20,0.0,0,0,52.465076,6.788395

In [67]:
join_middle_latlong.geohash.nunique()

3973

In [68]:
elevation,zenith,azimuth=create_sequences(join_middle_latlong)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [69]:
print(city)

new_method/LS/1x1Grid

In [70]:
elevation

array([-36.81646024, -45.27266314, -52.36954097, ...,  -5.81343281,
       -14.41731338, -23.36741305])

In [71]:
join_middle_latlong['elevaion']=elevation
join_middle_latlong['zenith']=zenith
join_middle_latlong['azimuth_solar']=azimuth
#join_middle_latlong.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_final_withSolar.csv",index=False)

In [72]:
join_middle_latlong.geohash.nunique()

3973

In [73]:
join_middle_latlong

,geohash,UJAHR,UMONAT,UWOCHENTAG,USTUNDE,counts,is_present,is_p2,middlelat,middlelong,elevaion,zenith,azimuth_solar
0,u1kcr,2017,1,7,21,0.0,0,0,52.282183,7.029096,-36.816460,126.816460,285.068581
1,u1kcr,2017,1,7,22,0.0,0,0,52.282183,7.029096,-45.272663,135.272663,300.027012
2,u1kcr,2017,1,7,23,0.0,0,0,52.282183,7.029096,-52.369541,142.369541,318.579621
3,u1kcr,2017,2,1,0,0.0,0,0,52.282183,7.029096,-49.096657,139.096657,342.803080
4,u1kcr,2017,2,1,1,0.0,0,0,52.282183,7.029096,-50.023525,140.023525,5.480223
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2324083,u32n2,2017,11,6,15,0.0,0,0,53.131967,11.251837,8.901533,81.098467,222.926342
2324084,u32n2,2017,11,6,16,0.0,0,0,53.131967,11.251837,2.086420,87.913580,235.506810
2324085,u32n2,2017,11,6,17,0.0,0,0,53.131967,11.251837,-5.813433,95.813433,247.379734
2324086,u32n2,2017,11,6,18,0.0,0,0,53.131967,11.251837,-14.417313,104.417313,258.925740
2324087,u32n2,2017,11,6,19,0.0,1,2,53.131967,11.251837,-23.367413,113.367413,270.655969

In [74]:
join_middle_latlong['concate_year']='20172018'
join_middle_latlong.columns

Index(['geohash', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'USTUNDE', 'counts',
       'is_present', 'is_p2', 'middlelat', 'middlelong', 'elevaion', 'zenith',
       'azimuth_solar', 'concate_year'],
      dtype='object')

In [75]:
join_middle_latlong

,geohash,UJAHR,UMONAT,UWOCHENTAG,USTUNDE,counts,is_present,is_p2,middlelat,middlelong,elevaion,zenith,azimuth_solar,concate_year
0,u1kcr,2017,1,7,21,0.0,0,0,52.282183,7.029096,-36.816460,126.816460,285.068581,20172018
1,u1kcr,2017,1,7,22,0.0,0,0,52.282183,7.029096,-45.272663,135.272663,300.027012,20172018
2,u1kcr,2017,1,7,23,0.0,0,0,52.282183,7.029096,-52.369541,142.369541,318.579621,20172018
3,u1kcr,2017,2,1,0,0.0,0,0,52.282183,7.029096,-49.096657,139.096657,342.803080,20172018
4,u1kcr,2017,2,1,1,0.0,0,0,52.282183,7.029096,-50.023525,140.023525,5.480223,20172018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2324083,u32n2,2017,11,6,15,0.0,0,0,53.131967,11.251837,8.901533,81.098467,222.926342,20172018
2324084,u32n2,2017,11,6,16,0.0,0,0,53.131967,11.251837,2.086420,87.913580,235.506810,20172018
2324085,u32n2,2017,11,6,17,0.0,0,0,53.131967,11.251837,-5.813433,95.813433,247.379734,20172018
2324086,u32n2,2017,11,6,18,0.0,0,0,53.131967,11.251837,-14.417313,104.417313,258.925740,20172018
2324087,u32n2,2017,11,6,19,0.0,1,2,53.131967,11.251837,-23.367413,113.367413,270.655969,20172018

In [76]:
#city='olden'
# testing=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_final_withSolar.csv")
# test1=testing.loc[testing['counts']==0]
# test2=test1.loc[testing['is_present']==1]
# test2

In [77]:
# #city='gott'
# testing=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_final_withSolar.csv")
# test1=testing.loc[testing['counts']>0]
# test2=test1.loc[testing['is_present']==1]
# test2

In [78]:
join_middle_latlong.geohash.nunique()

3973

In [79]:
join_middle_latlong.columns

Index(['geohash', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'USTUNDE', 'counts',
       'is_present', 'is_p2', 'middlelat', 'middlelong', 'elevaion', 'zenith',
       'azimuth_solar', 'concate_year'],
      dtype='object')

In [80]:
join_middle_latlong.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_final_withSolarConvareyear_geohash.csv",index=False)

In [81]:
l=[]
year=[]
i=0
parts1=[]

#with open('/home/rajat/DAP/ls_accident/ls_accident/data/accident_data/groupebygeohashintofourwithoutyearfiveKM.csv'.format(c), 'r') as file:
with open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/train_final_withSolarConvareyear_geohash.csv", 'r') as file:
    header = True
    for line in file:
        if not header:
            header = True
            continue
        parts = line.replace('\r', '').replace('\n', '').split(',')
        #parts1=parts
        #print(parts[29])
        if [parts[0],parts[13]] not in l:
            #if parts[1] not in year
            m=[parts[0],parts[13]]
            l.append(m)
            #year.append(parts[1])
            i=0
            parts.append(i)
        else:
            i=i+1
            parts.append(i) 
        parts1.append(parts)
print(parts1)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [82]:
import csv

def writeCsvFile(fname, data, *args, **kwargs):
    """
    @param fname: string, name of file to write
    @param data: list of list of items

    Write data to file
    """
    mycsv = csv.writer(open(fname, 'w'), *args, **kwargs)
    for row in data:
        mycsv.writerow(row)

writeCsvFile(r"/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//datawithazimuthUTPYE3OhannwithIndextrainGeohash.csv", parts1)

In [83]:
print(city)

new_method/LS/1x1Grid

In [84]:
import pandas as pd
#city='hann'
hann_indexed=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//datawithazimuthUTPYE3OhannwithIndextrainGeohash.csv")
hann_indexed.columns=['geohash', 'year', 'month', 'day', 'twohoursession',
       'acc_count', 'is_present',  'is_p2','middlelat', 'middlelong', 'elevaion', 'zenith',
       'azimuth_solar', 'concate_year', 'timestep']

hann_indexed.to_csv('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'//datawithazimuthUTPYE3OhannwithIndextrainGeohash.csv',index=False)

hann_indexed.geohash.nunique()

3973

In [85]:
hann_indexed

,geohash,year,month,day,twohoursession,acc_count,is_present,is_p2,middlelat,middlelong,elevaion,zenith,azimuth_solar,concate_year,timestep
0,u1kcr,2017,1,7,21,0.0,0,0,52.282183,7.029096,-36.816460,126.816460,285.068581,20172018,0
1,u1kcr,2017,1,7,22,0.0,0,0,52.282183,7.029096,-45.272663,135.272663,300.027012,20172018,1
2,u1kcr,2017,1,7,23,0.0,0,0,52.282183,7.029096,-52.369541,142.369541,318.579621,20172018,2
3,u1kcr,2017,2,1,0,0.0,0,0,52.282183,7.029096,-49.096657,139.096657,342.803080,20172018,3
4,u1kcr,2017,2,1,1,0.0,0,0,52.282183,7.029096,-50.023525,140.023525,5.480223,20172018,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2324083,u32n2,2017,11,6,15,0.0,0,0,53.131967,11.251837,8.901533,81.098467,222.926342,20172018,4
2324084,u32n2,2017,11,6,16,0.0,0,0,53.131967,11.251837,2.086420,87.913580,235.506810,20172018,5
2324085,u32n2,2017,11,6,17,0.0,0,0,53.131967,11.251837,-5.813433,95.813433,247.379734,20172018,6
2324086,u32n2,2017,11,6,18,0.0,0,0,53.131967,11.251837,-14.417313,104.417313,258.925740,20172018,7
2324087,u32n2,2017,11,6,19,0.0,1,2,53.131967,11.251837,-23.367413,113.367413,270.655969,20172018,8

In [86]:
import pandas as pd
import numpy as np

import random
import os
import sys
import psutil

import matplotlib
import matplotlib.pyplot as plt
import math
from multiprocessing import cpu_count,Pool 
import multiprocessing

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import MinMaxScaler
import pickle

In [87]:
# 'def daynight(month,hour):
#     if hour=='22-24'or hour=='0-2' or hour=='2-4':
#         return 0
#     elif hour=='8-10' or hour=='10-12' or hour=='12-14' or hour=='14-16':
#         return 1
#     if month==1:
#         if hour=='4-6' or hour=='6-8' or hour=='16-18' or hour=='18-20' or hour=='20-22':
#             return 0
#     if month==2:
#         if hour=='4-6' or hour=='6-8' or hour=='18-20' or hour=='20-22':
#             return 0
#         if hour=='16-18':
#             return 1
#     if month==3:
#         if hour=='4-6' or  hour== '18-20' or hour=='20-22':
#             return 0
#         if hour== '6-8' or hour== '16-18':
#             return 1
#     if month==4:
#         if hour=='4-6'  or hour=='20-22':
#             return 0
#         if hour== '6-8' or hour== '16-18' or hour== '18-20':
#             return 1
#     if month==5 or month==6 or month==7 or month==8:
#         if hour=='4-6' or hour=='20-22':
#             return 0
#         if hour== '6-8' or hour== '16-18' or hour== '18-20' :
#             return 1 
#     if month==9 or month==10:
#         if hour=='4-6' or hour=='20-22' or hour== '6-8':
#             return 0
#         if  hour== '16-18' or hour== '18-20' :
#             return 1 
#     if month==11 or month==12:
#         if hour=='4-6' or hour=='6-8' or hour=='20-22' or hour== '16-18' or  hour== '18-20':
#             return 0 
        
#                  '

In [88]:
def daynight(month,hour):
    if hour>=22 or (hour>=0 and hour<4):
        return 0
    elif hour>=8 and hour<=15:
        return 1
    if month==1:
        if (hour>=4 and hour<=8) or (hour>=16 and hour<=22):
            return 0
        else:
            return 1
    if month==2:
        if (hour>=4 and hour<=8) or (hour>=18 and hour<=22):
            return 0
        if hour>=16 and hour <=18:
            return 1
    if month==3:
        if (hour>=4 and hour<=6) or  (hour>=19 and hour<=22):
            return 0
        if (hour>= 7 or hour <=8) or (hour>=16 and hour <=18):
            return 1
    if month==4:
        if (hour>=4 and hour<=5) or (hour>=20 and hour<=22):
            return 0
        if (hour>= 6 and hour <=8) or (hour>= 16 and hour <=20):
            return 1
    if month==5 or month==6 or month==7 or month==8:
        if (hour>=4 and hour<=5) or (hour==22):
            return 0
        if (hour>=6 and hour<=8) or (hour>=16 and hour<=21):
            return 1 
    if month==9 or month==10:
        if (hour>=4 and hour<=7 )or (hour>=20 and hour<=22):
            return 0
        if  (hour>=16 and hour<=19) :
            return 1 
    if month==11 or month==12:
        if(hour>=4 and hour<=8) or (hour>=16 and hour<=22):
            return 0

In [89]:
# def time_interval_two(HOD):        
#     if HOD=='6-8' or HOD=='8-10' :
#         return 0
#     if  HOD=='10-12' or HOD=='12-14' or HOD=='14-16':
#         return 1
#     if  HOD=='16-18':
#         return 2;
#     if HOD=='18-20' or HOD=='20-22':
#         return 3
#     if HOD=='22-24' or HOD=='0-2' or HOD=='2-4' or HOD=='4-6':
#         return 4
#     else:
#         return 5;

In [90]:
def time_interval_two(HOD):        
    if HOD>=6 and HOD<=10 :
        return 0
    if  HOD>=11 and HOD<=15 :
        return 1
    if  HOD>=16 and HOD<=17:
        return 2;
    if HOD>=18 and HOD<=22:
        return 3
    if HOD>22 or (HOD>=0 and HOD<6):
        return 4
    else:
        return 5;

In [91]:
#Officially spring is during the months of March, April and May in Germany. Summer is from June through to August. 
#Autumn is during the months of September, October and November and winter is from December to February. 
def season(month):
    if month>=3 and month<=5:
        return 0
    if month>=6 and month<=8:
        return 1
    if month>=9 and month<=11:
        return 2
    if month==12 or month==1 or month== 2:
        return 3

In [92]:
# import pandas as pd
# #city='hann'
# df_final=pd.read_csv('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/datawithazimuthUTPYE3OhannwithIndextrainGeohash.csv',header=0)
# df_final_train=df_final.loc[((df_final['year']==2017) & (df_final['month']<=12)|(df_final['year']==2018) & (df_final['month']<=12) | ((df_final['year']==2019) & (df_final['month']<=1)))]
# df_final_valisdation=df_final.loc[((df_final['year']==2019) & (df_final['month']>1)& (df_final['month']<=5))]
# df_final_train=df_final_train.reset_index(drop=True)
# df_final_valisdation=df_final_valisdation.reset_index(drop=True)
# df_final_train.to_csv('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/df_finalTrain.csv',index=False)
# df_final_valisdation.to_csv('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/df_finalVald.csv',index=False)

In [93]:
import pandas as pd
#city='munich_grid5x5'
df_final=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/datawithazimuthUTPYE3OhannwithIndextrainGeohash.csv",header=0)
df_final_train=df_final.loc[((df_final['year']==2017) & (df_final['month']<=12)|(df_final['year']==2018) & (df_final['month']<=12) | ((df_final['year']==2019) & (df_final['month']<=1)))]
df_final_valisdation=df_final.loc[((df_final['year']==2019) & (df_final['month']>1)& (df_final['month']<=5))]
# df_final_train=df_final_train.reset_index(drop=True)
# df_final_valisdation=df_final_valisdation.reset_index(drop=True)
# df_final_train.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/df_finalTrain.csv",index=False)
# df_final_valisdation.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/df_finalVald.csv",index=False)

In [94]:
df_final_train.columns=['geohash','year', 'month', 'day', 'twohoursession',
       'acc_count', 'is_present','is_p2', 'middlelat', 'middlelong', 'elevaion',
       'zenith', 'azimuth_solar', 'concate_year', 'timestep']
df_final_train.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/df_finalTrain.csv",index=False)

In [95]:
df_final_valisdation.columns=['geohash','year', 'month', 'day', 'twohoursession',
       'acc_count', 'is_present','is_p2', 'middlelat', 'middlelong', 'elevaion',
       'zenith', 'azimuth_solar', 'concate_year', 'timestep']
df_final_valisdation.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/df_finalVald.csv",index=False)

In [96]:
print(city)

new_method/LS/1x1Grid

In [97]:

geo_dict = dict(zip((hann_indexed.geohash.unique()), range(len(hann_indexed.geohash.unique()))))
print(geo_dict)
f = open('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/geo_dict.pkl',"wb")
pickle.dump(geo_dict,f)
f.close()

{'u1kcr': 0, 'u1kf3': 1, 'u1kf6': 2, 'u1kf7': 3, 'u1kf8': 4, 'u1kf9': 5, 'u1kfb': 6, 'u1kfc': 7, 'u1kfd': 8, 'u1kfe': 9, 'u1kff': 10, 'u1kfg': 11, 'u1kfk': 12, 'u1kfm': 13, 'u1kfp': 14, 'u1kfq': 15, 'u1kfr': 16, 'u1kfs': 17, 'u1kft': 18, 'u1kfu': 19, 'u1kfv': 20, 'u1kfw': 21, 'u1kfx': 22, 'u1kfy': 23, 'u1kfz': 24, 'u1kg0': 25, 'u1kg1': 26, 'u1kg2': 27, 'u1kg3': 28, 'u1kg4': 29, 'u1kg5': 30, 'u1kg6': 31, 'u1kg7': 32, 'u1kgd': 33, 'u1kge': 34, 'u1kgh': 35, 'u1kgj': 36, 'u1kgk': 37, 'u1kgm': 38, 'u1kgn': 39, 'u1kgp': 40, 'u1kgq': 41, 'u1kgr': 42, 'u1kgs': 43, 'u1kgt': 44, 'u1kzm': 45, 'u1kzq': 46, 'u1kzr': 47, 'u1kzs': 48, 'u1kzt': 49, 'u1kzu': 50, 'u1kzv': 51, 'u1kzw': 52, 'u1kzx': 53, 'u1kzy': 54, 'u1kzz': 55, 'u1m10': 56, 'u1m11': 57, 'u1m12': 58, 'u1m13': 59, 'u1m16': 60, 'u1m17': 61, 'u1m18': 62, 'u1m19': 63, 'u1m1b': 64, 'u1m1c': 65, 'u1m1d': 66, 'u1m1e': 67, 'u1m1f': 68, 'u1m1g': 69, 'u1m1k': 70, 'u1m1m': 71, 'u1m1q': 72, 'u1m1r': 73, 'u1m1s': 74, 'u1m1t': 75, 'u1m1u': 76, 'u1m1v': 77, 'u1m1w': 78, 'u1m1x': 79, 'u1m1y': 80, 'u1m1z': 81, 'u1m38': 82, 'u1m39': 83, 'u1m3b': 84, 'u1m3c': 85, 'u1m3f': 86, 'u1m3g': 87, 'u1m3u': 88, 'u1m40': 89, 'u1m41': 90, 'u1m42': 91, 'u1m43': 92, 'u1m44': 93, 'u1m45': 94, 'u1m46': 95, 'u1m47': 96, 'u1m48': 97, 'u1m49': 98, 'u1m4b': 99, 'u1m4c': 100, 'u1m4d': 101, 'u1m4e': 102, 'u1m4f': 103, 'u1m4g': 104, 'u1m4h': 105, 'u1m4j': 106, 'u1m4k': 107, 'u1m4m': 108, 'u1m4n': 109, 'u1m4p': 110, 'u1m4q': 111, 'u1m4r': 112, 'u1m4s': 113, 'u1m4t': 114, 'u1m4u': 115, 'u1m4v': 116, 'u1m4w': 117, 'u1m4x': 118, 'u1m4y': 119, 'u1m4z': 120, 'u1m50': 121, 'u1m51': 122, 'u1m52': 123, 'u1m53': 124, 'u1m54': 125, 'u1m55': 126, 'u1m56': 127, 'u1m57': 128, 'u1m58': 129, 'u1m59': 130, 'u1m5b': 131, 'u1m5c': 132, 'u1m5d': 133, 'u1m5e': 134, 'u1m5f': 135, 'u1m5g': 136, 'u1m5h': 137, 'u1m5j': 138, 'u1m5k': 139, 'u1m5m': 140, 'u1m5n': 141, 'u1m5p': 142, 'u1m5q': 143, 'u1m5r': 144, 'u1m5s': 145, 'u1m5t': 146, 'u1m5u': 147, 'u1m5v': 148, 'u1m5w': 149, 'u1m5x': 150, 'u1m5y': 151, 'u1m5z': 152, 'u1m60': 153, 'u1m61': 154, 'u1m62': 155, 'u1m63': 156, 'u1m64': 157, 'u1m65': 158, 'u1m66': 159, 'u1m67': 160, 'u1m68': 161, 'u1m69': 162, 'u1m6b': 163, 'u1m6c': 164, 'u1m6d': 165, 'u1m6e': 166, 'u1m6f': 167, 'u1m6g': 168, 'u1m6h': 169, 'u1m6k': 170, 'u1m6m': 171, 'u1m6p': 172, 'u1m6q': 173, 'u1m6r': 174, 'u1m6s': 175, 'u1m6t': 176, 'u1m6u': 177, 'u1m6v': 178, 'u1m6w': 179, 'u1m6x': 180, 'u1m6y': 181, 'u1m6z': 182, 'u1m70': 183, 'u1m71': 184, 'u1m72': 185, 'u1m73': 186, 'u1m74': 187, 'u1m75': 188, 'u1m76': 189, 'u1m77': 190, 'u1m78': 191, 'u1m79': 192, 'u1m7b': 193, 'u1m7c': 194, 'u1m7d': 195, 'u1m7e': 196, 'u1m7f': 197, 'u1m7g': 198, 'u1m7h': 199, 'u1m7j': 200, 'u1m7k': 201, 'u1m7m': 202, 'u1m7n': 203, 'u1m7p': 204, 'u1m7q': 205, 'u1m7r': 206, 'u1m7s': 207, 'u1m7t': 208, 'u1m7u': 209, 'u1m7v': 210, 'u1m7w': 211, 'u1m7x': 212, 'u1m7y': 213, 'u1m7z': 214, 'u1m85': 215, 'u1m87': 216, 'u1m8g': 217, 'u1m8h': 218, 'u1m8j': 219, 'u1m8k': 220, 'u1m8m': 221, 'u1m8n': 222, 'u1m8p': 223, 'u1m8q': 224, 'u1m8r': 225, 'u1m8u': 226, 'u1m8v': 227, 'u1m8w': 228, 'u1m8x': 229, 'u1m8y': 230, 'u1m8z': 231, 'u1m95': 232, 'u1m9c': 233, 'u1m9f': 234, 'u1m9g': 235, 'u1m9h': 236, 'u1m9j': 237, 'u1m9k': 238, 'u1m9m': 239, 'u1m9n': 240, 'u1m9p': 241, 'u1m9q': 242, 'u1m9r': 243, 'u1m9s': 244, 'u1m9t': 245, 'u1m9u': 246, 'u1m9v': 247, 'u1m9w': 248, 'u1m9x': 249, 'u1m9y': 250, 'u1m9z': 251, 'u1mb0': 252, 'u1mb1': 253, 'u1mb2': 254, 'u1mb3': 255, 'u1mb4': 256, 'u1mb6': 257, 'u1mb7': 258, 'u1mb8': 259, 'u1mb9': 260, 'u1mbb': 261, 'u1mbc': 262, 'u1mbd': 263, 'u1mbe': 264, 'u1mbf': 265, 'u1mbg': 266, 'u1mbq': 267, 'u1mbr': 268, 'u1mbs': 269, 'u1mbt': 270, 'u1mbu': 271, 'u1mbv': 272, 'u1mbw': 273, 'u1mbx': 274, 'u1mby': 275, 'u1mbz': 276, 'u1mc0': 277, 'u1mc1': 278, 'u1mc2': 279, 'u1mc3': 280, 'u1mc4': 281, 'u1mc5': 282, 'u1mc6': 283, 'u1mc7': 284, 'u1mc8': 285, 'u1mc9': 286, 'u1mcb': 287, 'u1mcc': 288, 'u1mcd': 289, 'u1mce': 290, 'u1mcf': 291, 'u1mcg': 292, 'u1mch': 293, 'u1mcj': 294, 'u1mck': 295, 'u1mcm': 296, 'u1mcn': 297, 'u1mcp': 298, 'u1mcq': 299, 'u1mcr': 300, 'u1mcs': 301, 'u1mct': 302, 'u1mcu': 303, 'u1mcv': 304, 'u1mcw': 305, 'u1mcx': 306, 'u1mcy': 307, 'u1mcz': 308, 'u1md0': 309, 'u1md1': 310, 'u1md2': 311, 'u1md3': 312, 'u1md4': 313, 'u1md5': 314, 'u1md6': 315, 'u1md7': 316, 'u1md8': 317, 'u1md9': 318, 'u1mdb': 319, 'u1mdc': 320, 'u1mdd': 321, 'u1mde': 322, 'u1mdf': 323, 'u1mdg': 324, 'u1mdh': 325, 'u1mdj': 326, 'u1mdk': 327, 'u1mdm': 328, 'u1mdn': 329, 'u1mdp': 330, 'u1mdq': 331, 'u1mdr': 332, 'u1mds': 333, 'u1mdt': 334, 'u1mdu': 335, 'u1mdv': 336, 'u1mdw': 337, 'u1mdx': 338, 'u1mdy': 339, 'u1mdz': 340, 'u1me0': 341, 'u1me1': 342, 'u1me2': 343, 'u1me3': 344, 'u1me4': 345, 'u1me5': 346, 'u1me6': 347, 'u1me7': 348, 'u1me8': 349, 'u1me9': 350, 'u1meb': 351, 'u1mec': 352, 'u1med': 353, 'u1mee': 354, 'u1mef': 355, 'u1meg': 356, 'u1meh': 357, 'u1mej': 358, 'u1mek': 359, 'u1mem': 360, 'u1men': 361, 'u1mep': 362, 'u1meq': 363, 'u1mer': 364, 'u1mes': 365, 'u1met': 366, 'u1meu': 367, 'u1mev': 368, 'u1mew': 369, 'u1mex': 370, 'u1mey': 371, 'u1mez': 372, 'u1mf0': 373, 'u1mf1': 374, 'u1mf2': 375, 'u1mf3': 376, 'u1mf4': 377, 'u1mf5': 378, 'u1mf6': 379, 'u1mf7': 380, 'u1mf8': 381, 'u1mf9': 382, 'u1mfb': 383, 'u1mfc': 384, 'u1mfd': 385, 'u1mfe': 386, 'u1mff': 387, 'u1mfg': 388, 'u1mfh': 389, 'u1mfj': 390, 'u1mfk': 391, 'u1mfm': 392, 'u1mfn': 393, 'u1mfq': 394, 'u1mfr': 395, 'u1mfs': 396, 'u1mft': 397, 'u1mfu': 398, 'u1mfv': 399, 'u1mfw': 400, 'u1mfx': 401, 'u1mfy': 402, 'u1mfz': 403, 'u1mg0': 404, 'u1mg1': 405, 'u1mg2': 406, 'u1mg3': 407, 'u1mg4': 408, 'u1mg5': 409, 'u1mg6': 410, 'u1mg7': 411, 'u1mg8': 412, 'u1mg9': 413, 'u1mgb': 414, 'u1mgc': 415, 'u1mgd': 416, 'u1mge': 417, 'u1mgf': 418, 'u1mgg': 419, 'u1mgh': 420, 'u1mgj': 421, 'u1mgk': 422, 'u1mgm': 423, 'u1mgn': 424, 'u1mgp': 425, 'u1mgq': 426, 'u1mgr': 427, 'u1mgs': 428, 'u1mgt': 429, 'u1mgu': 430, 'u1mgv': 431, 'u1mgw': 432, 'u1mgx': 433, 'u1mgy': 434, 'u1mgz': 435, 'u1mh0': 436, 'u1mh1': 437, 'u1mh2': 438, 'u1mh3': 439, 'u1mh4': 440, 'u1mh5': 441, 'u1mh6': 442, 'u1mh7': 443, 'u1mh9': 444, 'u1mhc': 445, 'u1mhd': 446, 'u1mhe': 447, 'u1mhf': 448, 'u1mhg': 449, 'u1mhh': 450, 'u1mhj': 451, 'u1mhk': 452, 'u1mhm': 453, 'u1mhn': 454, 'u1mhp': 455, 'u1mhq': 456, 'u1mhr': 457, 'u1mhs': 458, 'u1mht': 459, 'u1mhu': 460, 'u1mhv': 461, 'u1mhw': 462, 'u1mhx': 463, 'u1mhy': 464, 'u1mhz': 465, 'u1mj4': 466, 'u1mj5': 467, 'u1mj7': 468, 'u1mjg': 469, 'u1mjh': 470, 'u1mjj': 471, 'u1mjk': 472, 'u1mjm': 473, 'u1mjn': 474, 'u1mjp': 475, 'u1mjq': 476, 'u1mjr': 477, 'u1mjs': 478, 'u1mjt': 479, 'u1mju': 480, 'u1mjv': 481, 'u1mjw': 482, 'u1mjx': 483, 'u1mjy': 484, 'u1mjz': 485, 'u1mk0': 486, 'u1mk1': 487, 'u1mk2': 488, 'u1mk3': 489, 'u1mk4': 490, 'u1mk5': 491, 'u1mk6': 492, 'u1mk7': 493, 'u1mk8': 494, 'u1mk9': 495, 'u1mkb': 496, 'u1mkc': 497, 'u1mkd': 498, 'u1mke': 499, 'u1mkf': 500, 'u1mkg': 501, 'u1mkh': 502, 'u1mkj': 503, 'u1mkk': 504, 'u1mkm': 505, 'u1mkn': 506, 'u1mkp': 507, 'u1mkq': 508, 'u1mkr': 509, 'u1mks': 510, 'u1mkt': 511, 'u1mku': 512, 'u1mkv': 513, 'u1mkw': 514, 'u1mkx': 515, 'u1mky': 516, 'u1mkz': 517, 'u1mm0': 518, 'u1mm1': 519, 'u1mm2': 520, 'u1mm3': 521, 'u1mm4': 522, 'u1mm5': 523, 'u1mm6': 524, 'u1mm7': 525, 'u1mm8': 526, 'u1mm9': 527, 'u1mmb': 528, 'u1mmc': 529, 'u1mmd': 530, 'u1mme': 531, 'u1mmf': 532, 'u1mmg': 533, 'u1mmh': 534, 'u1mmj': 535, 'u1mmk': 536, 'u1mmm': 537, 'u1mmn': 538, 'u1mmp': 539, 'u1mmq': 540, 'u1mmr': 541, 'u1mms': 542, 'u1mmt': 543, 'u1mmu': 544, 'u1mmv': 545, 'u1mmw': 546, 'u1mmx': 547, 'u1mmy': 548, 'u1mmz': 549, 'u1mn5': 550, 'u1mn7': 551, 'u1mne': 552, 'u1mnh': 553, 'u1mnj': 554, 'u1mnk': 555, 'u1mnm': 556, 'u1mnn': 557, 'u1mnp': 558, 'u1mnq': 559, 'u1mnr': 560, 'u1mns': 561, 'u1mnt': 562, 'u1mnu': 563, 'u1mnv': 564, 'u1mnw': 565, 'u1mnx': 566, 'u1mny': 567, 'u1mnz': 568, 'u1mp2': 569, 'u1mp3': 570, 'u1mp5': 571, 'u1mp6': 572, 'u1mp7': 573, 'u1mp8': 574, 'u1mp9': 575, 'u1mpb': 576, 'u1mpc': 577, 'u1mpd': 578, 'u1mpe': 579, 'u1mpf': 580, 'u1mpg': 581, 'u1mph': 582, 'u1mpj': 583, 'u1mpk': 584, 'u1mpm': 585, 'u1mpn': 586, 'u1mpp': 587, 'u1mpq': 588, 'u1mpr': 589, 'u1mps': 590, 'u1mpt': 591, 'u1mpu': 592, 'u1mpv': 593, 'u1mpw': 594, 'u1mpx': 595, 'u1mpy': 596, 'u1mpz': 597, 'u1mq0': 598, 'u1mq1': 599, 'u1mq2': 600, 'u1mq3': 601, 'u1mq4': 602, 'u1mq5': 603, 'u1mq6': 604, 'u1mq7': 605, 'u1mq8': 606, 'u1mq9': 607, 'u1mqb': 608, 'u1mqc': 609, 'u1mqd': 610, 'u1mqe': 611, 'u1mqf': 612, 'u1mqg': 613, 'u1mqh': 614, 'u1mqj': 615, 'u1mqk': 616, 'u1mqm': 617, 'u1mqn': 618, 'u1mqp': 619, 'u1mqq': 620, 'u1mqr': 621, 'u1mqs': 622, 'u1mqt': 623, 'u1mqu': 624, 'u1mqv': 625, 'u1mqw': 626, 'u1mqx': 627, 'u1mqy': 628, 'u1mqz': 629, 'u1mr0': 630, 'u1mr1': 631, 'u1mr2': 632, 'u1mr3': 633, 'u1mr4': 634, 'u1mr5': 635, 'u1mr6': 636, 'u1mr7': 637, 'u1mr8': 638, 'u1mr9': 639, 'u1mrb': 640, 'u1mrc': 641, 'u1mrd': 642, 'u1mre': 643, 'u1mrf': 644, 'u1mrg': 645, 'u1mrh': 646, 'u1mrj': 647, 'u1mrk': 648, 'u1mrm': 649, 'u1mrn': 650, 'u1mrp': 651, 'u1mrq': 652, 'u1mrr': 653, 'u1mrs': 654, 'u1mrt': 655, 'u1mru': 656, 'u1mrv': 657, 'u1mrw': 658, 'u1mrx': 659, 'u1mry': 660, 'u1mrz': 661, 'u1ms0': 662, 'u1ms1': 663, 'u1ms2': 664, 'u1ms3': 665, 'u1ms4': 666, 'u1ms5': 667, 'u1ms6': 668, 'u1ms7': 669, 'u1ms8': 670, 'u1ms9': 671, 'u1msb': 672, 'u1msc': 673, 'u1msd': 674, 'u1mse': 675, 'u1msf': 676, 'u1msg': 677, 'u1msh': 678, 'u1msj': 679, 'u1msk': 680, 'u1msm': 681, 'u1msn': 682, 'u1msp': 683, 'u1msq': 684, 'u1msr': 685, 'u1mss': 686, 'u1mst': 687, 'u1msu': 688, 'u1msv': 689, 'u1msw': 690, 'u1msx': 691, 'u1msy': 692, 'u1msz': 693, 'u1mt0': 694, 'u1mt1': 695, 'u1mt2': 696, 'u1mt3': 697, 'u1mt4': 698, 'u1mt5': 699, 'u1mt6': 700, 'u1mt7': 701, 'u1mt8': 702, 'u1mt9': 703, 'u1mtb': 704, 'u1mtc': 705, 'u1mtd': 706, 'u1mte': 707, 'u1mtf': 708, 'u1mtg': 709, 'u1mth': 710, 'u1mtj': 711, 'u1mtk': 712, 'u1mtm': 713, 'u1mtn': 714, 'u1mtp': 715, 'u1mtq': 716, 'u1mtr': 717, 'u1mts': 718, 'u1mtt': 719, 'u1mtu': 720, 'u1mtv': 721, 'u1mtw': 722, 'u1mtx': 723, 'u1mty': 724, 'u1mtz': 725, 'u1mu0': 726, 'u1mu1': 727, 'u1mu2': 728, 'u1mu3': 729, 'u1mu4': 730, 'u1mu5': 731, 'u1mu6': 732, 'u1mu7': 733, 'u1mu8': 734, 'u1mu9': 735, 'u1mub': 736, 'u1muc': 737, 'u1mud': 738, 'u1mue': 739, 'u1muf': 740, 'u1mug': 741, 'u1muh': 742, 'u1muj': 743, 'u1muk': 744, 'u1mum': 745, 'u1mun': 746, 'u1mup': 747, 'u1muq': 748, 'u1mur': 749, 'u1mus': 750, 'u1mut': 751, 'u1muu': 752, 'u1muv': 753, 'u1muw': 754, 'u1mux': 755, 'u1muy': 756, 'u1muz': 757, 'u1mv0': 758, 'u1mv1': 759, 'u1mv2': 760, 'u1mv3': 761, 'u1mv4': 762, 'u1mv5': 763, 'u1mv6': 764, 'u1mv7': 765, 'u1mv8': 766, 'u1mv9': 767, 'u1mvb': 768, 'u1mvc': 769, 'u1mvd': 770, 'u1mve': 771, 'u1mvf': 772, 'u1mvg': 773, 'u1mvh': 774, 'u1mvj': 775, 'u1mvk': 776, 'u1mvm': 777, 'u1mvn': 778, 'u1mvp': 779, 'u1mvq': 780, 'u1mvr': 781, 'u1mvs': 782, 'u1mvt': 783, 'u1mvu': 784, 'u1mvv': 785, 'u1mvw': 786, 'u1mvx': 787, 'u1mvy': 788, 'u1mvz': 789, 'u1mw0': 790, 'u1mw1': 791, 'u1mw2': 792, 'u1mw3': 793, 'u1mw4': 794, 'u1mw5': 795, 'u1mw6': 796, 'u1mw7': 797, 'u1mw8': 798, 'u1mw9': 799, 'u1mwb': 800, 'u1mwc': 801, 'u1mwd': 802, 'u1mwe': 803, 'u1mwf': 804, 'u1mwg': 805, 'u1mwh': 806, 'u1mwj': 807, 'u1mwk': 808, 'u1mwm': 809, 'u1mwn': 810, 'u1mwp': 811, 'u1mwq': 812, 'u1mwr': 813, 'u1mws': 814, 'u1mwt': 815, 'u1mwu': 816, 'u1mwv': 817, 'u1mww': 818, 'u1mwx': 819, 'u1mwy': 820, 'u1mwz': 821, 'u1mx0': 822, 'u1mx1': 823, 'u1mx2': 824, 'u1mx3': 825, 'u1mx4': 826, 'u1mx5': 827, 'u1mx6': 828, 'u1mx7': 829, 'u1mx8': 830, 'u1mx9': 831, 'u1mxb': 832, 'u1mxc': 833, 'u1mxd': 834, 'u1mxe': 835, 'u1mxf': 836, 'u1mxg': 837, 'u1mxh': 838, 'u1mxj': 839, 'u1mxk': 840, 'u1mxm': 841, 'u1mxn': 842, 'u1mxp': 843, 'u1mxq': 844, 'u1mxr': 845, 'u1mxs': 846, 'u1mxt': 847, 'u1mxu': 848, 'u1mxv': 849, 'u1mxw': 850, 'u1mxx': 851, 'u1mxy': 852, 'u1mxz': 853, 'u1my0': 854, 'u1my1': 855, 'u1my2': 856, 'u1my3': 857, 'u1my4': 858, 'u1my5': 859, 'u1my6': 860, 'u1my7': 861, 'u1my8': 862, 'u1my9': 863, 'u1myb': 864, 'u1myc': 865, 'u1myd': 866, 'u1mye': 867, 'u1myf': 868, 'u1myg': 869, 'u1myh': 870, 'u1myj': 871, 'u1myk': 872, 'u1mym': 873, 'u1myn': 874, 'u1myp': 875, 'u1myq': 876, 'u1myr': 877, 'u1mys': 878, 'u1myt': 879, 'u1myu': 880, 'u1myv': 881, 'u1myw': 882, 'u1myx': 883, 'u1myy': 884, 'u1myz': 885, 'u1mz0': 886, 'u1mz1': 887, 'u1mz2': 888, 'u1mz3': 889, 'u1mz4': 890, 'u1mz5': 891, 'u1mz6': 892, 'u1mz7': 893, 'u1mz8': 894, 'u1mz9': 895, 'u1mzb': 896, 'u1mzc': 897, 'u1mzd': 898, 'u1mze': 899, 'u1mzf': 900, 'u1mzg': 901, 'u1mzh': 902, 'u1mzj': 903, 'u1mzk': 904, 'u1mzm': 905, 'u1mzn': 906, 'u1mzp': 907, 'u1mzq': 908, 'u1mzr': 909, 'u1mzs': 910, 'u1mzt': 911, 'u1mzu': 912, 'u1mzv': 913, 'u1mzw': 914, 'u1mzx': 915, 'u1mzy': 916, 'u1mzz': 917, 'u1ngf': 918, 'u1ngg': 919, 'u1ngu': 920, 'u1ngv': 921, 'u1ngy': 922, 'u1ntv': 923, 'u1nty': 924, 'u1ntz': 925, 'u1nu1': 926, 'u1nu3': 927, 'u1nu4': 928, 'u1nu5': 929, 'u1nu6': 930, 'u1nu7': 931, 'u1nue': 932, 'u1nuf': 933, 'u1nug': 934, 'u1nuh': 935, 'u1nuj': 936, 'u1nuk': 937, 'u1num': 938, 'u1nun': 939, 'u1nuq': 940, 'u1nur': 941, 'u1nus': 942, 'u1nut': 943, 'u1nuu': 944, 'u1nuv': 945, 'u1nuw': 946, 'u1nux': 947, 'u1nuy': 948, 'u1nuz': 949, 'u1nv4': 950, 'u1nv5': 951, 'u1nv6': 952, 'u1nv7': 953, 'u1nv8': 954, 'u1nv9': 955, 'u1nvb': 956, 'u1nvc': 957, 'u1nvd': 958, 'u1nve': 959, 'u1nvf': 960, 'u1nvg': 961, 'u1nvh': 962, 'u1nvj': 963, 'u1nvk': 964, 'u1nvm': 965, 'u1nvn': 966, 'u1nvp': 967, 'u1nvq': 968, 'u1nvr': 969, 'u1nvs': 970, 'u1nvt': 971, 'u1nvu': 972, 'u1nvv': 973, 'u1nvw': 974, 'u1nvx': 975, 'u1nvy': 976, 'u1nvz': 977, 'u1nwj': 978, 'u1nwm': 979, 'u1nwn': 980, 'u1nwp': 981, 'u1nwq': 982, 'u1nwr': 983, 'u1nww': 984, 'u1nwx': 985, 'u1nwy': 986, 'u1nwz': 987, 'u1nx7': 988, 'u1nx8': 989, 'u1nx9': 990, 'u1nxb': 991, 'u1nxc': 992, 'u1nxd': 993, 'u1nxe': 994, 'u1nxf': 995, 'u1nxg': 996, 'u1nxh': 997, 'u1nxj': 998, 'u1nxk': 999, 'u1nxm': 1000, 'u1nxn': 1001, 'u1nxp': 1002, 'u1nxq': 1003, 'u1nxr': 1004, 'u1nxs': 1005, 'u1nxt': 1006, 'u1nxu': 1007, 'u1nxv': 1008, 'u1nxw': 1009, 'u1nxx': 1010, 'u1nxy': 1011, 'u1nxz': 1012, 'u1ny0': 1013, 'u1ny1': 1014, 'u1ny2': 1015, 'u1ny3': 1016, 'u1ny4': 1017, 'u1ny5': 1018, 'u1ny6': 1019, 'u1ny7': 1020, 'u1ny8': 1021, 'u1ny9': 1022, 'u1nyb': 1023, 'u1nyc': 1024, 'u1nyd': 1025, 'u1nye': 1026, 'u1nyf': 1027, 'u1nyg': 1028, 'u1nyh': 1029, 'u1nyj': 1030, 'u1nyk': 1031, 'u1nym': 1032, 'u1nyn': 1033, 'u1nyp': 1034, 'u1nyq': 1035, 'u1nyr': 1036, 'u1nys': 1037, 'u1nyt': 1038, 'u1nyu': 1039, 'u1nyv': 1040, 'u1nyw': 1041, 'u1nyx': 1042, 'u1nyy': 1043, 'u1nyz': 1044, 'u1nz0': 1045, 'u1nz1': 1046, 'u1nz2': 1047, 'u1nz3': 1048, 'u1nz4': 1049, 'u1nz5': 1050, 'u1nz6': 1051, 'u1nz7': 1052, 'u1nz8': 1053, 'u1nz9': 1054, 'u1nzb': 1055, 'u1nzc': 1056, 'u1nzd': 1057, 'u1nze': 1058, 'u1nzf': 1059, 'u1nzg': 1060, 'u1nzh': 1061, 'u1nzj': 1062, 'u1nzk': 1063, 'u1nzm': 1064, 'u1nzn': 1065, 'u1nzp': 1066, 'u1nzq': 1067, 'u1nzr': 1068, 'u1nzs': 1069, 'u1nzt': 1070, 'u1nzu': 1071, 'u1nzv': 1072, 'u1nzw': 1073, 'u1nzx': 1074, 'u1nzy': 1075, 'u1nzz': 1076, 'u1ph2': 1077, 'u1ph3': 1078, 'u1ph6': 1079, 'u1ph7': 1080, 'u1ph8': 1081, 'u1ph9': 1082, 'u1phb': 1083, 'u1phc': 1084, 'u1phd': 1085, 'u1phe': 1086, 'u1phf': 1087, 'u1phg': 1088, 'u1phs': 1089, 'u1pht': 1090, 'u1phu': 1091, 'u1phv': 1092, 'u1phw': 1093, 'u1phx': 1094, 'u1phy': 1095, 'u1phz': 1096, 'u1pj0': 1097, 'u1pj1': 1098, 'u1pj2': 1099, 'u1pj3': 1100, 'u1pj4': 1101, 'u1pj5': 1102, 'u1pj6': 1103, 'u1pj7': 1104, 'u1pj8': 1105, 'u1pj9': 1106, 'u1pjb': 1107, 'u1pjc': 1108, 'u1pjd': 1109, 'u1pje': 1110, 'u1pjf': 1111, 'u1pjg': 1112, 'u1pjh': 1113, 'u1pjj': 1114, 'u1pjk': 1115, 'u1pjm': 1116, 'u1pjn': 1117, 'u1pjp': 1118, 'u1pjq': 1119, 'u1pjr': 1120, 'u1pjs': 1121, 'u1pjt': 1122, 'u1pju': 1123, 'u1pjv': 1124, 'u1pjw': 1125, 'u1pjx': 1126, 'u1pjy': 1127, 'u1pjz': 1128, 'u1pkb': 1129, 'u1pkc': 1130, 'u1pkf': 1131, 'u1pm0': 1132, 'u1pm1': 1133, 'u1pm2': 1134, 'u1pm3': 1135, 'u1pm4': 1136, 'u1pm5': 1137, 'u1pm6': 1138, 'u1pm7': 1139, 'u1pm8': 1140, 'u1pm9': 1141, 'u1pmb': 1142, 'u1pmc': 1143, 'u1pmd': 1144, 'u1pme': 1145, 'u1pmf': 1146, 'u1pmg': 1147, 'u1pmk': 1148, 'u1pmm': 1149, 'u1pmq': 1150, 'u1pmr': 1151, 'u1pms': 1152, 'u1pmt': 1153, 'u1pmu': 1154, 'u1pmv': 1155, 'u1pmw': 1156, 'u1pmx': 1157, 'u1pmy': 1158, 'u1pmz': 1159, 'u1pn0': 1160, 'u1pn1': 1161, 'u1pn2': 1162, 'u1pn3': 1163, 'u1pn4': 1164, 'u1pn5': 1165, 'u1pn6': 1166, 'u1pn7': 1167, 'u1pn8': 1168, 'u1pn9': 1169, 'u1pnb': 1170, 'u1pnc': 1171, 'u1pnd': 1172, 'u1pne': 1173, 'u1pnf': 1174, 'u1png': 1175, 'u1pnh': 1176, 'u1pnj': 1177, 'u1pnk': 1178, 'u1pnm': 1179, 'u1pnn': 1180, 'u1pnp': 1181, 'u1pnq': 1182, 'u1pnr': 1183, 'u1pns': 1184, 'u1pnt': 1185, 'u1pnu': 1186, 'u1pnv': 1187, 'u1pnw': 1188, 'u1pnx': 1189, 'u1pny': 1190, 'u1pnz': 1191, 'u1pp0': 1192, 'u1pp1': 1193, 'u1pp2': 1194, 'u1pp3': 1195, 'u1pp4': 1196, 'u1pp5': 1197, 'u1pp6': 1198, 'u1pp7': 1199, 'u1pp8': 1200, 'u1pp9': 1201, 'u1ppb': 1202, 'u1ppc': 1203, 'u1ppd': 1204, 'u1ppe': 1205, 'u1ppf': 1206, 'u1ppg': 1207, 'u1pph': 1208, 'u1ppj': 1209, 'u1ppk': 1210, 'u1ppm': 1211, 'u1ppn': 1212, 'u1ppp': 1213, 'u1ppq': 1214, 'u1ppr': 1215, 'u1pps': 1216, 'u1ppt': 1217, 'u1ppu': 1218, 'u1ppv': 1219, 'u1ppw': 1220, 'u1ppx': 1221, 'u1ppy': 1222, 'u1ppz': 1223, 'u1pq0': 1224, 'u1pq1': 1225, 'u1pq2': 1226, 'u1pq3': 1227, 'u1pq4': 1228, 'u1pq5': 1229, 'u1pq6': 1230, 'u1pq7': 1231, 'u1pq8': 1232, 'u1pq9': 1233, 'u1pqb': 1234, 'u1pqc': 1235, 'u1pqd': 1236, 'u1pqe': 1237, 'u1pqf': 1238, 'u1pqg': 1239, 'u1pqh': 1240, 'u1pqj': 1241, 'u1pqk': 1242, 'u1pqm': 1243, 'u1pqn': 1244, 'u1pqp': 1245, 'u1pqq': 1246, 'u1pqr': 1247, 'u1pqs': 1248, 'u1pqt': 1249, 'u1pqu': 1250, 'u1pqv': 1251, 'u1pqw': 1252, 'u1pqx': 1253, 'u1pqy': 1254, 'u1pqz': 1255, 'u1pr0': 1256, 'u1pr1': 1257, 'u1pr2': 1258, 'u1pr3': 1259, 'u1pr4': 1260, 'u1pr5': 1261, 'u1pr6': 1262, 'u1pr7': 1263, 'u1pr8': 1264, 'u1pr9': 1265, 'u1prb': 1266, 'u1prc': 1267, 'u1prd': 1268, 'u1pre': 1269, 'u1prf': 1270, 'u1prg': 1271, 'u1prh': 1272, 'u1prj': 1273, 'u1prk': 1274, 'u1prm': 1275, 'u1prn': 1276, 'u1prp': 1277, 'u1prq': 1278, 'u1prr': 1279, 'u1prs': 1280, 'u1prt': 1281, 'u1pru': 1282, 'u1prv': 1283, 'u1prw': 1284, 'u1prx': 1285, 'u1pry': 1286, 'u1prz': 1287, 'u1pt2': 1288, 'u1pt3': 1289, 'u1pt6': 1290, 'u1pt8': 1291, 'u1pt9': 1292, 'u1ptb': 1293, 'u1ptc': 1294, 'u1ptd': 1295, 'u1ptf': 1296, 'u1ptg': 1297, 'u1pw0': 1298, 'u1pw1': 1299, 'u1pw2': 1300, 'u1pw3': 1301, 'u1pw4': 1302, 'u1pw6': 1303, 'u1pw8': 1304, 'u1pwb': 1305, 'u1pwc': 1306, 'u1px0': 1307, 'u1px1': 1308, 'u1px2': 1309, 'u1px3': 1310, 'u1px4': 1311, 'u1px6': 1312, 'u1px8': 1313, 'u1px9': 1314, 'u1pxb': 1315, 'u1pxc': 1316, 'u1pxd': 1317, 'u1pxf': 1318, 'u1q08': 1319, 'u1q0b': 1320, 'u1q0c': 1321, 'u1q10': 1322, 'u1q12': 1323, 'u1q18': 1324, 'u1q1b': 1325, 'u1q2r': 1326, 'u1q2t': 1327, 'u1q2u': 1328, 'u1q2v': 1329, 'u1q2w': 1330, 'u1q2x': 1331, 'u1q2y': 1332, 'u1q2z': 1333, 'u1q3j': 1334, 'u1q3k': 1335, 'u1q3m': 1336, 'u1q3n': 1337, 'u1q3p': 1338, 'u1q3q': 1339, 'u1q3r': 1340, 'u1q3s': 1341, 'u1q3t': 1342, 'u1q3v': 1343, 'u1q3w': 1344, 'u1q3x': 1345, 'u1q3y': 1346, 'u1q3z': 1347, 'u1q42': 1348, 'u1q48': 1349, 'u1q49': 1350, 'u1q4b': 1351, 'u1q4c': 1352, 'u1q4d': 1353, 'u1q4e': 1354, 'u1q4f': 1355, 'u1q4g': 1356, 'u1q4n': 1357, 'u1q4p': 1358, 'u1q4q': 1359, 'u1q4r': 1360, 'u1q4t': 1361, 'u1q4u': 1362, 'u1q4v': 1363, 'u1q4w': 1364, 'u1q4x': 1365, 'u1q4y': 1366, 'u1q4z': 1367, 'u1q50': 1368, 'u1q51': 1369, 'u1q52': 1370, 'u1q53': 1371, 'u1q54': 1372, 'u1q55': 1373, 'u1q56': 1374, 'u1q57': 1375, 'u1q58': 1376, 'u1q59': 1377, 'u1q5b': 1378, 'u1q5c': 1379, 'u1q5d': 1380, 'u1q5e': 1381, 'u1q5f': 1382, 'u1q5g': 1383, 'u1q5h': 1384, 'u1q5j': 1385, 'u1q5k': 1386, 'u1q5m': 1387, 'u1q5n': 1388, 'u1q5p': 1389, 'u1q5q': 1390, 'u1q5r': 1391, 'u1q5s': 1392, 'u1q5t': 1393, 'u1q5u': 1394, 'u1q5v': 1395, 'u1q5w': 1396, 'u1q5x': 1397, 'u1q5y': 1398, 'u1q5z': 1399, 'u1q60': 1400, 'u1q61': 1401, 'u1q62': 1402, 'u1q63': 1403, 'u1q64': 1404, 'u1q65': 1405, 'u1q66': 1406, 'u1q

In [98]:
print(city)

new_method/LS/1x1Grid

In [102]:
def clean_data_city(filepath,city):
    df = pd.read_csv(filepath)

    display(df.head())

    list_ = df.columns
    #print(list_)

#     temp_df = df[
#         ['geohash', 'year', 'month', 'day', 'twohoursession', 'acc_count',
#        'is_present', 'elevaion', 'zenith',
#        'azimuth_solar', 'concate_year', 'timestep']]
#     temp_df.to_hdf("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+city+"train.h5",key='set1')
    #display(temp_df.head())

    print("zero accident =", float(df[df['acc_count'] == 0].shape[0]) / df.shape[0])

    #f = open("geo_dict_niedersacehsen_fivekm.pkl","rb")
    #f = open(
    f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/geo_dict.pkl", "rb")
    geo_dict = pickle.load(f)
    f.close()

    def fun_hash(geohash):
        return geo_dict[geohash]

    df['geohash_code'] = df.apply(lambda row: fun_hash(row['geohash']), axis=1)
#     temp_df = df[['geohash', 'geohash_code','year', 'month', 'day', 'twohoursession', 'acc_count',
#        'is_present', 'elevaion', 'zenith',
#        'azimuth_solar', 'concate_year', 'timestep']]

#     df = pd.read_hdf(
#         'data/hann_raw_data/hann.h5', key='set2')
    #display(df.head())

    def week_day(DOW):
        if DOW > 1 and DOW <= 6:
            return 1
        elif DOW == 1 or DOW == 7:
            return 0

    def shift(group):
        df_list = []
        for idx, df in group:
            df['predicted_accident'] = df['acc_count'].shift(-1)
            df.drop(df.tail(1).index, inplace=True)
            df_list.append(df)
        return pd.concat(df_list)

    def time_interval(HOD):
        if HOD == '0-4':
            return 0
        if HOD == '4-8':
            return 1
        if HOD == '8-12':
            return 2;
        if HOD == '12-16':
            return 3
        if HOD == '16-20':
            return 4
        else:
            return 5;

    def make_binary(d):
        if d > 0:
            return 1
        else:
            return 0

    def year_binary(d):
        if d == 2017:
            return 0
        if d==2018:
            return 1
        else:
            return 2

    df['DOW_cat'] = df.apply(lambda row: week_day(row['day']), axis=1)
    df['HOD_cat'] = df.apply(lambda row: time_interval_two(row['twohoursession']), axis=1)
    # df['T-Accident'] = df.apply(lambda row: make_binary(row['acc_count']), axis=1)
    df['DayLight'] = df.apply(lambda row: daynight(row['month'], row['twohoursession']), axis=1)
    df['season'] = df.apply(lambda row: season(row['month']), axis=1)
    df['year'] = df.apply(lambda row: year_binary(row['year']), axis=1)

    #     group = df.groupby('geohash')
    #     df = shift(group)
    #df['predicted_accident'] = df['acc_count']
    df['predicted_accident']=df.apply(lambda row: make_binary(row['acc_count']), axis=1)
    #speed=pd.read_csv("/data/dadwal/data/DAP_data/speed_hour_day.csv",header=0)
    #mergespeed_tempdf=pd.merge(df,speed,on=['day','twohoursession'])
    #display(mergespeed_tempdf)
    #display(mergespeed_tempdf.columns)
# 'cluster_id', 'UJAHR', 'UMONAT', 'UWOCHENTAG', 'sessiondivided',
# 'middlelat', 'middlelong', 'counts', 'elevaion', 'zenith','azimuth_solar', 'concate_year', 'timestep'
# 'year', 'month', 'day', 'twohoursession'
    mergespeed_tempdf = df[[u'timestep', u'predicted_accident',u'is_p2',u'is_present', u'geohash', u'geohash_code',u'year', u'month', u'day',u'twohoursession', 
                  u'HOD_cat', u'DOW_cat', u'DayLight', u'season', u'elevaion', u'zenith', u'azimuth_solar', 'acc_count'
                           ]]
    mergespeed_tempdf.to_hdf("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+"ng_train.h5",
                   key='set3')
    display(mergespeed_tempdf.head())

In [103]:
print(city)

new_method/LS/1x1Grid

In [104]:
#city='hann_clusterDBSCAN_0.003_2pts'

#clean_data_city('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/df_finalTrain.csv', city)
clean_data_city('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/df_finalTrain.csv', city)

,geohash,year,month,day,twohoursession,acc_count,is_present,is_p2,middlelat,middlelong,elevaion,zenith,azimuth_solar,concate_year,timestep
0,u1kcr,2017,1,7,21,0.0,0,0,52.282183,7.029096,-36.816460,126.816460,285.068581,20172018,0
1,u1kcr,2017,1,7,22,0.0,0,0,52.282183,7.029096,-45.272663,135.272663,300.027012,20172018,1
2,u1kcr,2017,1,7,23,0.0,0,0,52.282183,7.029096,-52.369541,142.369541,318.579621,20172018,2
3,u1kcr,2017,2,1,0,0.0,0,0,52.282183,7.029096,-49.096657,139.096657,342.803080,20172018,3
4,u1kcr,2017,2,1,1,0.0,0,0,52.282183,7.029096,-50.023525,140.023525,5.480223,20172018,4

zero accident = 0.961086433738771

,timestep,predicted_accident,is_p2,is_present,geohash,geohash_code,year,month,day,twohoursession,HOD_cat,DOW_cat,DayLight,season,elevaion,zenith,azimuth_solar,acc_count
0,0,0,0,0,u1kcr,0,0,1,7,21,3,0,0,3,-36.816460,126.816460,285.068581,0.0
1,1,0,0,0,u1kcr,0,0,1,7,22,3,0,0,3,-45.272663,135.272663,300.027012,0.0
2,2,0,0,0,u1kcr,0,0,1,7,23,4,0,0,3,-52.369541,142.369541,318.579621,0.0
3,3,0,0,0,u1kcr,0,0,2,1,0,4,0,0,3,-49.096657,139.096657,342.803080,0.0
4,4,0,0,0,u1kcr,0,0,2,1,1,4,0,0,3,-50.023525,140.023525,5.480223,0.0

In [ ]:
print(city)

In [ ]:
df=pd.read_hdf("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+city+"train.h5",key='set3')
df.loc[df['is_p2']==2]

In [ ]:
df1 = df[df.isna().any(axis=1)]
df1

# train and test

In [ ]:
import pandas as pd
import numpy as np

import random
import os
import sys
import psutil

import matplotlib
import matplotlib.pyplot as plt
import math
from multiprocessing import cpu_count,Pool 
import multiprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from collections import Counter

import pickle

In [ ]:
#city='olden'
# previous 5x5 grid on munich on path below
# /data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/Alldata_baveria/geodata_5x5/geo_vect_dict_bv_on
method='dbscan'
#city='new_method/hann/1x1Grid'
#city='new_method/braun'
#city='munich_grid5x5'
#method='5x5'
print(city)

# munich new method folder

In [ ]:
f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"//geodata//clustered_data_poi_acc_merged.pkl","rb")
geohash_dict = pickle.load(f)
f.close()
print(geohash_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geo_dict.pkl","rb")
geo_dict = pickle.load(f)
f.close()
#print(geo_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"//geodata//uartTrainOnly.pkl","rb")
NLP_dict_uart = pickle.load(f)
f.close()
#print(geo_dict)

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"//geodata//zustandTrainOnly.pkl","rb")
NLP_dict_zustand = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"//geodata//utypeTrainOnly.pkl","rb")
NLP_dict_utype1 = pickle.load(f)
f.close()


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"///geodata//acc_countTrainOnly.pkl","rb")
NLP_dict_accCount = pickle.load(f)
f.close()
#print((NLP_dict_accCount))


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"//geodata//htype.pkl","rb")
NLP_dict_htype = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"//geodata//maxspeed.pkl","rb")
NLP_dict_avg_max_speed = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"///munich_centerCord.pkl","rb")
NLP_dict_centerCord = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata/clusterToGeohashCountTrainOnly.pkl","rb")
NLP_dict_clustertoGeohash = pickle.load(f)
f.close()

In [ ]:
f=open("data/regional_features1cros1grid/pklfiles/geo_poi_dicr_niedersachsen_onekm.pkl","rb")
geohash_dict = pickle.load(f)
f.close()
#print(geohash_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/geo_dict.pkl","rb")
geo_dict = pickle.load(f)
f.close()
print(geo_dict)

f=open("data/regional_features1cros1grid/pklfiles/uart.pkl","rb")
NLP_dict_uart = pickle.load(f)
f.close()
#print(geo_dict)

f = open("data/regional_features1cros1grid/pklfiles/zustand.pkl","rb")
NLP_dict_zustand = pickle.load(f)
f.close()

f = open("data/regional_features1cros1grid/pklfiles/utyp1.pkl","rb")
NLP_dict_utype1 = pickle.load(f)
f.close()


f = open("data/regional_features1cros1grid/pklfiles/acc_count.pkl","rb")
NLP_dict_accCount = pickle.load(f)
f.close()
#print((NLP_dict_accCount))


f = open("data/regional_features1cros1grid/NLP_htypeonecross1.pkl","rb")
NLP_dict_htype = pickle.load(f)
f.close()

f = open("data/regional_features1cros1grid/pklfiles/maxspeed.pkl","rb")
NLP_dict_avg_max_speed = pickle.load(f)
f.close()

# baun in new_method folder

In [ ]:
f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//geo_poi_dicr_niedersachsen_onekm.pkl","rb")
geohash_dict = pickle.load(f)
f.close()
print(geohash_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geo_dict.pkl","rb")
geo_dict = pickle.load(f)
f.close()
#print(geo_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//uartTrainOnly.pkl","rb")
NLP_dict_uart = pickle.load(f)
f.close()
#print(geo_dict)

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//zustandTrainOnly.pkl","rb")
NLP_dict_zustand = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//utypeTrainOnly.pkl","rb")
NLP_dict_utype1 = pickle.load(f)
f.close()


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"///geodata//acc_countTrainOnly.pkl","rb")
NLP_dict_accCount = pickle.load(f)
f.close()
#print((NLP_dict_accCount))


f = open("data/regional_features1cros1grid/NLP_htypeonecross1.pkl","rb")
NLP_dict_htype = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//maxspeed.pkl","rb")
NLP_dict_avg_max_speed = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/braun_centerCord.pkl","rb")
NLP_dict_centerCord = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//clusterToGeohashCountTrainOnly.pkl","rb")
NLP_dict_clustertoGeohash = pickle.load(f)
f.close()

# munich 5x5 new method folder

In [ ]:
f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//clustered_data_poi_acc_merged.pkl","rb")
geohash_dict = pickle.load(f)
f.close()
print(geohash_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geo_dict.pkl","rb")
geo_dict = pickle.load(f)
f.close()
#print(geo_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//uartTrainOnly.pkl","rb")
NLP_dict_uart = pickle.load(f)
f.close()
#print(geo_dict)

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//zustandTrainOnly.pkl","rb")
NLP_dict_zustand = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//utypeTrainOnly.pkl","rb")
NLP_dict_utype1 = pickle.load(f)
f.close()


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/geodata//acc_countTrainOnly.pkl","rb")
NLP_dict_accCount = pickle.load(f)
f.close()
#print((NLP_dict_accCount))


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//htype.pkl","rb")
NLP_dict_htype = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//maxspeed.pkl","rb")
NLP_dict_avg_max_speed = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"///munich_centerCord.pkl","rb")
NLP_dict_centerCord = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata/clusterToGeohashCountTrainOnly.pkl","rb")
NLP_dict_clustertoGeohash = pickle.load(f)
f.close()

# hannover in new method folder (1x1,5x5,clustering)

In [ ]:
f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//clustered_data_poi_acc_merged.pkl","rb")
geohash_dict = pickle.load(f)
f.close()
print(geohash_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geo_dict.pkl","rb")
geo_dict = pickle.load(f)
f.close()
#print(geo_dict)

f=open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//uartTrainOnly.pkl","rb")
NLP_dict_uart = pickle.load(f)
f.close()
#print(geo_dict)

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//zustandTrainOnly.pkl","rb")
NLP_dict_zustand = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//utypeTrainOnly.pkl","rb")
NLP_dict_utype1 = pickle.load(f)
f.close()


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/geodata//acc_countTrainOnly.pkl","rb")
NLP_dict_accCount = pickle.load(f)
f.close()
#print((NLP_dict_accCount))


f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//htype.pkl","rb")
NLP_dict_htype = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata//maxspeed.pkl","rb")
NLP_dict_avg_max_speed = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"///hann_centerCord.pkl","rb")
NLP_dict_centerCord = pickle.load(f)
f.close()

f = open("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"//geodata/clusterToGeohashCountTrainOnly.pkl","rb")
NLP_dict_clustertoGeohash = pickle.load(f)
f.close()

In [ ]:
print(NLP_dict_htype.get('u1r2vx'))

In [ ]:
# # Helper functions for the parallel computing 

cores = cpu_count() #Number of CPU cores on your system
partitions = 25

class WithExtraArgs(object):
     def __init__(self, func, **args):
         self.func = func
         self.args = args
     def __call__(self, df):
         return self.func(df, **self.args)

def applyParallel(data, func,pool,partition, kwargs):
     data_split = [data[i:i + partition] for i in range(0, len(data), partition)]
     #data_split = np.array_split(data, min(partitions,data.shape[0]))
     data =pool.map(WithExtraArgs(func, **kwargs), data_split)
     #data = pd.concat(pool.map(WithExtraArgs(func, **kwargs), data_split))
     return data

In [ ]:
def onhot_enoceder_month(train):
     myEncoder = OneHotEncoder(sparse=False)
     myEncoder.fit(train['month'].values.reshape(-1, 1))

     onehot_encode = pd.concat([train.reset_index().drop('month',1),
                 pd.DataFrame(myEncoder.transform(train['month'].values.reshape(-1, 1)),
                              #columns=['m_en0','m_en1','m_en2','m_en3','m_en4'])], axis=1).reindex()
                              columns=['m_en0','m_en1','m_en2','m_en3','m_en4','m_en5','m_en6','m_en7','m_en8','m_en9','m_en10','m_en11'])], axis=1).reindex()
     return onehot_encode.drop('index',1)

In [ ]:
def onhot_enoceder_day(train):
     myEncoder = OneHotEncoder(sparse=False)
     myEncoder.fit(train['day'].values.reshape(-1, 1))

     onehot_encode = pd.concat([train.reset_index().drop('day',1),
                 pd.DataFrame(myEncoder.transform(train['day'].values.reshape(-1, 1)),
                              #columns=['m_en0','m_en1','m_en2','m_en3','m_en4'])], axis=1).reindex()
                              columns=['d_en0','d_en1','d_en2','d_en3','d_en4','d_en5','d_en6'])], axis=1).reindex()
     return onehot_encode.drop('index',1)

In [ ]:
def onhot_enoceder(train):
     myEncoder = OneHotEncoder(sparse=False)
     myEncoder.fit(train['HOD_cat'].values.reshape(-1, 1))

     onehot_encode = pd.concat([train.reset_index().drop('HOD_cat',1),
                 pd.DataFrame(myEncoder.transform(train['HOD_cat'].values.reshape(-1, 1)),
                              columns=['HOD_en0','HOD_en1','HOD_en2','HOD_en3','HOD_en4'])], axis=1).reindex()
     return onehot_encode.drop('index',1)

In [ ]:
def scalarval(df):
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler.fit(df.values.reshape(-1,1)) 
    scaled_values = scaler.transform(df.values.reshape(-1,1)) 
    df = scaled_values
    return df

In [ ]:
latlong=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+"oneCrossOneGrid_centroid_cluster.csv")
latlong['middlelong']=scalarval(latlong['middlelong'])
latlong['middlelat']=scalarval(latlong['middlelat'])

latlong

In [ ]:
col = latlong.iloc[:, 1:].values
NLP_dict_mid = {}
for index, row in latlong.iterrows():
    NLP_dict_mid[row.geohash] = np.array(col[index])
f = open('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/hann_centerCord.pkl', "wb")
pickle.dump(NLP_dict_mid, f)

In [ ]:
def onhot_enoceder_season(train):
     myEncoder = OneHotEncoder(sparse=False)
     myEncoder.fit(train['season'].values.reshape(-1, 1))

     onehot_encode = pd.concat([train.reset_index().drop('season',1),
                 pd.DataFrame(myEncoder.transform(train['season'].values.reshape(-1, 1)),
                              #columns=['m_en0','m_en1','m_en2','m_en3','m_en4'])], axis=1).reindex()
                              columns=['season_0','season_1','season_2','season_3'])], axis=1).reindex()
     return onehot_encode.drop('index',1)

In [ ]:
def onhot_enoceder_year(train):
     myEncoder = OneHotEncoder(sparse=False)
     myEncoder.fit(train['year'].values.reshape(-1, 1))

     onehot_encode = pd.concat([train.reset_index().drop('year',1),
                 pd.DataFrame(myEncoder.transform(train['year'].values.reshape(-1, 1)),
                              #columns=['m_en0','m_en1','m_en2','m_en3','m_en4'])], axis=1).reindex()
                              columns=['year_0','year_1','year_2'])], axis=1).reindex()
     return onehot_encode.drop('index',1)

In [ ]:
# def create_train_set_aug_geo(frame_list,geomap):
#     process_name = str(multiprocessing.current_process())
#     id = int(process_name.split(',')[0].split('-')[1])
#     print("process ",id," started")
    
#     X_train = []
#     y_train = []
#     print ("process list with length of ",len(frame_list))
#     for frame in frame_list:
#         training_set = frame.values
#         geo_vec = geomap[frame.geohash.iloc[0]]
#         geo_code = geo_dict[frame.geohash.iloc[0]]
#         NLP_code_uart = NLP_dict_uart[frame.geohash.iloc[0]]
#         NLP_code_uytpe1 = NLP_dict_utype1[frame.geohash.iloc[0]]
#         NLP_code_zustand = NLP_dict_zustand[frame.geohash.iloc[0]]
#         htype_count = 0
#         for key, values in NLP_dict_htype.items():
#             htype_count = len(values)
#             break
#         try:
#             NLP_htype = NLP_dict_htype[frame.geohash.iloc[0]]
#         except:
#             NLP_htype = np.zeros(htype_count) # 27 if hannover data is choosen

#         try:
#             NLP_code_max_speed = NLP_dict_avg_max_speed[frame.geohash.iloc[0]]
#         except:
#             NLP_code_max_speed=[0.24]
             
#         try:
#             NLP_code_acc_count = NLP_dict_accCount[frame.geohash.iloc[0]]
#         except:
#             #print('raj')
#             NLP_code_acc_count = np.zeros(1) # 27 if hannover data is choosen

        
#         for i in range(8, training_set.shape[0]):
#             if training_set[i, 1] > 0 :
#                 a = np.concatenate((training_set[i-8:i,5:].flatten(),geo_vec),axis=0)
#                 a = np.concatenate((a,NLP_code_uart),axis=0)
#                 a= np.concatenate((a,NLP_code_uytpe1),axis=0)
#                 a=np.concatenate((a,NLP_code_zustand),axis=0)
#                 a=np.concatenate((a,NLP_code_acc_count),axis=0)
#                 a=np.concatenate((a,NLP_code_max_speed),axis=0)
#                 a=np.concatenate((a,NLP_htype),axis=0)
#                 a = np.append(a, geo_code)
#                 a=np.append(a,1)
#                 X_train.append(a)
#                 y_train.append(1)
#             elif random.uniform(0, 1) > 0.964:
#                 a = np.concatenate((training_set[i-8:i,5:].flatten(),geo_vec),axis=0)
#                 a = np.concatenate((a,NLP_code_uart),axis=0)
#                 a= np.concatenate((a,NLP_code_uytpe1),axis=0)
#                 a=np.concatenate((a,NLP_code_zustand),axis=0)
#                 a=np.concatenate((a,NLP_code_acc_count),axis=0)
#                 a=np.concatenate((a,NLP_code_max_speed),axis=0)
#                 a=np.concatenate((a,NLP_htype),axis=0)
#                 a = np.append(a, geo_code)
#                 a=np.append(a,0)
#                 X_train.append(a)
#                 y_train.append(0)
#     return X_train, y_train

In [ ]:
def create_train_set_aug_geo(frame_list,geomap):
    process_name = str(multiprocessing.current_process())
    id = int(process_name.split(',')[0].split('-')[1])
    print("process ",id," started")
    
    X_train = []
    y_train = []
    print ("process list with length of ",len(frame_list))
    for frame in frame_list:
        training_set = frame.values
        #geo_vec = geomap[frame.geohash.iloc[0]]
        geo_code = geo_dict[frame.geohash.iloc[0]]
        #NLP_code_uart = NLP_dict_uart[frame.geohash.iloc[0]]
       # NLP_code_uytpe1 = NLP_dict_utype1[frame.geohash.iloc[0]]
       # NLP_code_zustand = NLP_dict_zustand[frame.geohash.iloc[0]]
        htype_count = 0
        for key, values in NLP_dict_htype.items():
            htype_count = len(values)
            #print(htype_count)
            break
        
        try:
            NLP_center_cord=NLP_dict_centerCord[frame.geohash.iloc[0]]
        except:
            NLP_center_cord = np.zeros(2) # 27 if hannover data is choosen

        #try:
         #   NLP_cluster_geohash=NLP_dict_clustertoGeohash[frame.geohash.iloc[0]]
        #except:
        NLP_cluster_geohash = np.zeros(1) # 27 if hannover data is choosen

        
        try:
            NLP_htype = NLP_dict_htype[frame.geohash.iloc[0]]
        except:
            NLP_htype = np.zeros(htype_count) # 27 if hannover data is choosen
        try:
            geo_vec = geomap[frame.geohash.iloc[0]]
            #print(len(geo_vec))
        except:
            geo_vec = np.zeros(10) # 27 if hannover data is choosen

        try:
            NLP_code_uart = NLP_dict_uart[frame.geohash.iloc[0]]
        except:
            NLP_code_uart = np.zeros(10) # 27 if hannover data is choosen

        try:
            NLP_code_uytpe1 = NLP_dict_utype1[frame.geohash.iloc[0]]
        except:
            NLP_code_uytpe1 = np.zeros(7) # 27 if hannover data is choosen

        try:
            NLP_code_zustand = NLP_dict_zustand[frame.geohash.iloc[0]]
        except:
            NLP_code_zustand = np.zeros(3) # 27 if hannover data is choosen

#         try:
#             NLP_htype = NLP_dict_htype[frame.geohash.iloc[0]]
#             #print(len(NLP_htype))
#         except:
#             NLP_htype = np.zeros(htype_count) # 27 if hannover data is choosen

            
        
        try:
            NLP_code_max_speed = NLP_dict_avg_max_speed[frame.geohash.iloc[0]]
        except:
            NLP_code_max_speed=[0.24]
             
        try:
            NLP_code_acc_count = NLP_dict_accCount[frame.geohash.iloc[0]]
        except:
            #print('raj')
            NLP_code_acc_count = np.zeros(1) # 27 if hannover data is choosen

        
        for i in range(8, training_set.shape[0]):
            if training_set[i, 2] > 1 : 
                if training_set[i, 1] > 0:
                    a = np.concatenate((training_set[i-8:i,7:].flatten(),geo_vec),axis=0)
                    #print(a.shape)
                    a = np.concatenate((a,NLP_code_uart),axis=0)
                    #print(a.shape)
                    a= np.concatenate((a,NLP_code_uytpe1),axis=0)
                    #print(a.shape)
                    a=np.concatenate((a,NLP_code_zustand),axis=0)
                    #print(a.shape)
                   
                    a=np.concatenate((a,NLP_code_acc_count),axis=0)
                    #print(a.shape)
                    a=np.concatenate((a,NLP_code_max_speed),axis=0)
                    #print('max speed',a.shape)
                    a=np.concatenate((a,NLP_htype),axis=0)
                    #print('NLP',a.shape)
                    a=np.concatenate((a,NLP_center_cord),axis=0)
                    a=np.concatenate((a,NLP_cluster_geohash),axis=0)
                    
                    #print(a.shape)
                    #add center of each cluster i.e. long lat as regional feature
                    a = np.append(a, geo_code)
                    #a=np.append(a,1)
                    X_train.append(a)
                    y_train.append(1)
                else:
                    a = np.concatenate((training_set[i-8:i,7:].flatten(),geo_vec),axis=0)
                    a = np.concatenate((a,NLP_code_uart),axis=0)
                    a= np.concatenate((a,NLP_code_uytpe1),axis=0)
                    a=np.concatenate((a,NLP_code_zustand),axis=0)
                    a=np.concatenate((a,NLP_code_acc_count),axis=0)
                    a=np.concatenate((a,NLP_code_max_speed),axis=0)
                    a=np.concatenate((a,NLP_htype),axis=0)
                    a=np.concatenate((a,NLP_center_cord),axis=0)
                    a=np.concatenate((a,NLP_cluster_geohash),axis=0)
                    a = np.append(a, geo_code)
                    #a=np.append(a,0)
                    X_train.append(a)
                    y_train.append(0)
    return X_train, y_train

In [ ]:
def create_sequences(df,geohash_dict):
    frame_list=[]
    for idx, frame in df.groupby(df.geohash):        
        #print('frame=',frame)
        frame_list.append(frame)
    print('------------------------')
    #print(frame_list[0])
    print('#########################')
    pool = Pool(cores)
    partition = int(np.ceil(float(len(frame_list))/partitions))    
    train_set = applyParallel (frame_list,create_train_set_aug_geo,pool,partition,{'geomap':geohash_dict.copy()})
    pool.close()
    pool.join()
    X_train = []
    y_train = []
    for set_ in train_set:
        X_train.extend(set_[0])
        y_train.extend(set_[1])

    X_train, y_train = np.array(X_train), np.array(y_train)   
    return X_train,y_train

In [ ]:

#city1='new_method/braun/shifted_combinetrain_560m'
print(city)

In [ ]:
def train_data(filename):
#     df=pd.read_hdf('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/'+city+'/'+city+'val.h5',
#                    key='set3')
    df=pd.read_hdf("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/"+"ng_train.h5",
                   key='set3')

    print('whole h5 file')
    display(df.columns)
#     df=df[[u'timestep', u'predicted_accident',u'is_present', u'geohash', u'geohash_code', u'month',u'day', u'twohoursession',u'year', 
#                   u'HOD_cat', u'DOW_cat', u'DayLight', u'season', u'elevaion', u'zenith', u'azimuth_solar'
#                            ]]
    df=df[[u'timestep', u'predicted_accident',u'is_p2',u'is_present', u'geohash', u'geohash_code', u'month',u'day', u'twohoursession',u'year', 
                  u'HOD_cat', u'DOW_cat', u'DayLight', u'season', u'elevaion', u'zenith', u'azimuth_solar'
                           ]]

    print('year=1')
    year_one=df.loc[df['year']>0]
    display(year_one)
    print('---------------------')
    acct=df.loc[df['predicted_accident']>0]
    print('acc > 0')
    display(acct)
    display(df.head())
    df = onhot_enoceder_month(df)
    df= onhot_enoceder_day(df)
    df=onhot_enoceder(df)
    df=onhot_enoceder_season(df)
    df=onhot_enoceder_year(df)
    df['previous_acc']=df['predicted_accident']
#     df=df[['timestep', 'predicted_accident', 'geohash', 'geohash_code',
#       'twohoursession', 'year', 'DOW_cat', 'DayLight','m_en0', 'm_en1',
#       'm_en2', 'm_en3', 'm_en4', 'm_en5', 'm_en6', 'm_en7', 'm_en8', 'm_en9',
#        'm_en10', 'm_en11', 'HOD_en0', 'HOD_en1', 'HOD_en2', 'HOD_en3',
#        'HOD_en4']]
    df['elevaion'] = scalarval(df['elevaion'])
    df['zenith'] = scalarval(df['zenith'])
    df['azimuth_solar'] = scalarval(df['azimuth_solar'])
    #df['acc_count'] = scalarval(df['acc_count'])
    #df['middlelat'] = scalarval(df['middlelat'])    
    #df['middlelong'] = scalarval(df['middlelong'])
    
    
    print(df.columns)
    df_normalize = df.copy()
    #df_normalize.to_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/df_intermediate.csv",index=False)
    X_train, y_train = create_sequences(df,geohash_dict)
    #X_test, y_test = create_sequences(test,geohash_dict)
    #X_test, y_test = create_sequences(test,geohash_dict)
    #X_train3000whole=X_train[:3000,:]
    #X_test3000whole=X_test[:3000,:]

    #pd.DataFrame(X_train3000whole).to_csv("X_train3000whole.csv")
    #pd.DataFrame(X_test3000whole).to_csv("X_test3000whole.csv")

    np.save("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/traindata/X_train",X_train) 
    print (X_train.shape)
    np.save("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/traindata/y_train",y_train)
#     np.save('/data/dadwal/dir_14oct/accident_prediction/training_data_nt/' + city + '/' + method + '/X_test',X_test)
#     print (X_test.shape)
#     np.save('/data/dadwal/dir_14oct/accident_prediction/training_data_nt/' + city + '/' + method + '/y_test',y_test)
    print (y_train.shape)
    print('done')

In [ ]:
print(city)

In [ ]:
train_data('hann_0.003_minpts_2_poi')

In [ ]:
#city1='new_method/som_clustering30x30'
df=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city+"/df_intermediate.csv")
df

In [ ]:
city1='new_method/som_clustering30x30'
df=pd.read_csv("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria/"+city1+"/df_intermediate.csv")
df_10=df.head(10)
df_10

In [ ]:
import numpy as np
X_train_braun=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/braun/traindata/X_train.npy',allow_pickle=True)
Y_train_braun=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/braun/traindata/y_train.npy',allow_pickle=True)

X_train_gott=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/gott/traindata/X_train.npy',allow_pickle=True)
Y_train_gott=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/gott/traindata/y_train.npy',allow_pickle=True)

X_train_olden=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/olden/traindata/X_train.npy',allow_pickle=True)
Y_train_olden=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/olden/traindata/y_train.npy',allow_pickle=True)

X_train_osna=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/osna/traindata/X_train.npy',allow_pickle=True)
Y_train_osna=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/osna/traindata/y_train.npy',allow_pickle=True)

X_train=np.concatenate((X_train_braun,X_train_gott,X_train_olden,X_train_osna),axis=0)
y_train=np.concatenate((Y_train_braun,Y_train_gott,Y_train_olden,Y_train_osna),axis=0)
np.save("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/BGOO/X_train",X_train)
np.save("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/BGOO/y_train",y_train)

In [ ]:
import numpy as np
X_test_braun=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/braun/traindata/X_test.npy',allow_pickle=True)
Y_test_braun=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/braun/traindata/y_test.npy',allow_pickle=True)
print(X_test_braun.shape)
X_test_gott=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/gott/traindata/X_test.npy',allow_pickle=True)
Y_test_gott=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/gott/traindata/y_test.npy',allow_pickle=True)

X_test_olden=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/olden/traindata/X_test.npy',allow_pickle=True)
Y_test_olden=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/olden/traindata/y_test.npy',allow_pickle=True)

X_test_osna=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/osna/traindata/X_test.npy',allow_pickle=True)
Y_test_osna=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/osna/traindata/y_test.npy',allow_pickle=True)

X_test=np.concatenate((X_test_braun,X_test_gott,X_test_olden,X_test_osna),axis=0)
y_test=np.concatenate((Y_test_braun,Y_test_gott,Y_test_olden,Y_test_osna),axis=0)
np.save("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/BGOO/X_test",X_test)
np.save("/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/BGOO/y_test",y_test)

In [ ]:
X_train=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/BGOO/X_train.npy',allow_pickle=True)
X_test=np.load('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/Baveria_grid/BGOO/X_test.npy',allow_pickle=True)
print(X_train.shape)
print(X_test.shape)

In [ ]:
city='braun'
df=pd.read_hdf('/data/dadwal/data/DAP_data/dataPrepTrainTestCluster/rawdata_grid/'+city+'/'+city+'test.h5',key='set3')
print('whole h5 file')
df.head()

In [ ]:
df.geohash.nunique()

In [ ]:
def train_data(filename):
    df=pd.read_hdf('/data/dadwal/dir_14oct/accident_prediction/data/intermediate_results_1x1only/'+city+'/'+method+'/train_geohash.h5',key='set3')
    print('whole h5 file')
    display(df)
    print('year=1')
    year_one=df.loc[df['year']>0]
    display(year_one)
    print('---------------------')
    acct=df.loc[df['predicted_accident']>0]
    print('acc > 0')
    display(acct)
    display(df.head())
#     df = onhot_enoceder_month(df)
#     df=onhot_enoceder(df)
#     df=onhot_enoceder_season(df)
#     df['elevaion'] = scalarval(df['elevaion'])
#     df['zenith'] = scalarval(df['zenith'])
#     df['azimuth_solar'] = scalarval(df['azimuth_solar'])
#     df['acc_count'] = scalarval(df['acc_count'])
#     df['middlelat'] = scalarval(df['middlelat'])    
#     df['middlelong'] = scalarval(df['middlelong'])
    
    
    print(df.columns)
    df_normalize = df.copy()
    X_train, y_train = create_sequences(df,geohash_dict)
    #X_test, y_test = create_sequences(test,geohash_dict)
    X_train3000whole=X_train[:3000,:]
    #y_trainwhole=y_train[:3000,:]

    pd.DataFrame(X_train3000whole).to_csv("X_train3000whole.csv")
    #pd.DataFrame(X_test3000whole).to_csv("X_test3000whole.csv")

    np.save("/data/dadwal/dir_14oct/accident_prediction/training_data_NT_ALL_Cities/"+city+"/"+method+"/X_val",X_train) 
    print (X_train.shape)
    np.save("/data/dadwal/dir_14oct/accident_prediction/training_data_NT_ALL_Cities/"+city+"/"+method+"/y_val",y_train)
    print( y_train.shape)
#     np.save('/data/dadwal/dir_14oct/accident_prediction/training_data_nt/' + city + '/' + method + '/X_test',X_test)
#     print (X_test.shape)
#     np.save('/data/dadwal/dir_14oct/accident_prediction/training_data_nt/' + city + '/' + method + '/y_test',y_test)
#     print (y_test.shape)
    print('done')

In [ ]:
train_data('hann_0.003_minpts_2_poi')

In [ ]:
import numpy as np
#city='osna'
train=np.load('/data/dadwal/dir_14oct/accident_prediction/new_training_data/' + city + '/' + method + '/y_train.npy',allow_pickle=True)
test=np.load('/data/dadwal/dir_14oct/accident_prediction/new_training_data/' + city + '/' + method + '/y_test.npy',allow_pickle=True)

train_acc=train[train > 0].size
test_acc=test[test > 0].size
tot_acc=train_acc+test_acc

print('tot_acc in '+city+'=', tot_acc)

train_nonacc=train[train == 0].size
test_nonacc=test[test == 0].size
tot_noacc=train_nonacc+test_nonacc
print('tot_noacc in '+city+'=',tot_noacc)
percent=(tot_acc/tot_noacc)*100
print("percent of acc/non-acc in "+city+"=",percent)

In [ ]:
import numpy as np
city='osna'
train=np.load('/data/dadwal/dir_14oct/accident_prediction/new_training_data/' + city + '/' + method + '/y_train.npy',allow_pickle=True)
test=np.load('/data/dadwal/dir_14oct/accident_prediction/new_training_data/' + city + '/' + method + '/y_test.npy',allow_pickle=True)

train_acc=train[train > 0].size
test_acc=test[test > 0].size
#train=train_acc

#print('tot_acc in '+city+'=', tot_acc)

train_nonacc=train[train == 0].size
test_nonacc=test[test == 0].size
#tot_noacc=train_nonacc+test_nonacc
#print('tot_noacc in '+city+'=',tot_noacc)
percent_acc=(train_acc/train_nonacc)*100
print("percent of acc/non-acc in train set "+city+"=",percent_acc)
      
percent_nonacc=(test_acc/test_nonacc)*100
print("percent of acc/non-acc in train set "+city+"=",percent_nonacc)

In [ ]:
import numpy as np
city='osna'
method='dbscan'
train=np.load('/data/dadwal/dir_14oct/accident_prediction/new_training_data/' + city + '/' + method + '/X_train.npy',allow_pickle=True)
test=np.load('/data/dadwal/dir_14oct/accident_prediction/new_training_data/' + city + '/' + method + '/X_test.npy',allow_pickle=True)
train_percent=(train.size/(train.size+test.size))*100
test_percent=(test.size/(test.size+train.size))*100
print(train_percent)
print(test_percent)

# rain data for Osna

In [ ]:
def getdaynumber(day):
    day_number=0
    if day=='Sun':
        day_number=1
    elif day=='Mon':
        day_number=2
    elif day=='Tue':
        day_number=3
    elif day=='Wed':
        day_number=4
    elif day=='Thu':
        day_number=5
    elif day=='Fri':
        day_number=6
    elif day=='Sat':
        day_number=7
    return day_number

In [ ]:
import pandas as pd
hann_rain_2017=pd.read_csv("/data/dadwal/data/DAP_data/rain_data/osnabruck/osna_2017_raindata.csv",header=0)
hann_rain_2017['year']=2017
hann_rain_2017=hann_rain_2017[['geohash_six','year','month','day','twohoursession','val']]
hann_rain_2017.columns=['geohash','year','month','day','twohoursession','rain_val']
hann_rain_2017['day']=hann_rain_2017.apply(lambda row: getdaynumber(row['day']), axis=1)
hann_rain_2017.head()

In [ ]:
import pandas as pd
hann_rain_2018=pd.read_csv("//data/dadwal/data/DAP_data/rain_data/osnabruck/osna_2018_raindata.csv",header=0)
hann_rain_2018['year']=2018
hann_rain_2018=hann_rain_2018[['geohash_six','year','month','day','twohoursession','val']]
hann_rain_2018.columns=['geohash','year','month','day','twohoursession','rain_val']
hann_rain_2018['day']=hann_rain_2018.apply(lambda row: getdaynumber(row['day']), axis=1)
hann_rain_2018.head()

In [ ]:
hann_rain_2017['twohoursession'] = pd.Categorical(hann_rain_2017['twohoursession'], ["0-2", "2-4", "4-6","6-8","8-10","10-12","12-14","14-16","16-18","18-20","20-22","22-24"])
hann_rain_2018['twohoursession'] = pd.Categorical(hann_rain_2018['twohoursession'], ["0-2", "2-4", "4-6","6-8","8-10","10-12","12-14","14-16","16-18","18-20","20-22","22-24"])

In [ ]:
import numpy as np
df_final_2017 = pd.pivot_table(hann_rain_2017,
                       index=['geohash','year','month','day','twohoursession'],
                       values='rain_val',                            
                       fill_value = 0,
                       dropna=False,
                       aggfunc=np.sum).reset_index()
df_final_2017.head()

In [ ]:
import numpy as np
df_final_2018 = pd.pivot_table(hann_rain_2018,
                       index=['geohash','year','month','day','twohoursession'],
                       values='rain_val',                            
                       fill_value = 0,
                       dropna=False,
                       aggfunc=np.sum).reset_index()
df_final_2018.head()

In [ ]:
# join two dataset
df_final=df_final_2017.append(df_final_2018, ignore_index = True)
df_final.head()

In [ ]:
import pandas as pd
hann_accident_both_year=pd.read_csv("/data/dadwal/data/DAP_data/twoyearsepData/rawdata/datawithazimuthUTPYE3/datawithazimuthUTPYE3OsnaBruckwithIndex.csv",header=0)
hann_accident_both_year.head()

In [ ]:
join_data=pd.merge(hann_accident_both_year,df_final,on=["geohash","year","month","day","twohoursession"],how='left')
join_data=join_data.fillna(0)
join_data.head()

In [ ]:
join_data.to_csv("/data/dadwal/data/DAP_data/twoyearsepData/rawdatawithrainData/osnabruckTwoearwithRain.csv",index=False)

# create train and test data from rain data

In [ ]:
def clean_data_city(filepath,storename):
    df = pd.read_csv(filepath)
    display (df.head())
    
    list_ = df.columns
    print (list_)
    
    temp_df = df [[u'timestep', u'acc_count',u'geohash',u'year',u'rain_val',u'twohoursession',u'month',u'day',u'elevaion',u'zenith',u'azimuth_solar',u'STRZUSTAND_0',u'STRZUSTAND_1',u'STRZUSTAND_2',u'UART_0',u'UART_1',u'UART_2',u'UART_3',u'UART_4',u'UART_5',u'UART_6','UART_7',u'UART_8',u'UART_9',u'UTYP1_1',u'UTYP1_2',u'UTYP1_3',u'UTYP1_4',u'UTYP1_5',u'UTYP1_6',u'UTYP1_7']]
    temp_df.to_hdf('/data/dadwal/data/DAP_data/twoyearsepData/h5citiesrain/'+storename+'.h5',key='set1')
    display(temp_df.head())
    
    print ("zero accident =",float(df[df['acc_count']==0].shape[0])/df.shape[0])
    
    #f = open("geo_dict_niedersacehsen_fivekm.pkl","rb")
    f=open("/home/dadwal/DAP/ls_accident/data/oneKM/onekm/geo_dict/geo_dict_niedersacehsen_onekm.pkl","rb")
    geo_dict = pickle.load(f)
    f.close()
    
    def fun_hash(geohash):
        return geo_dict[geohash]
    df['geohash_code'] = df.apply(lambda row: fun_hash(row['geohash']), axis=1) 
    temp_df = df [[u'timestep', u'acc_count',u'geohash',u'year',u'rain_val',u'twohoursession', u'geohash_code',u'month',u'day',u'elevaion',u'zenith',u'azimuth_solar',u'STRZUSTAND_0',u'STRZUSTAND_1',u'STRZUSTAND_2',u'UART_0',u'UART_1',u'UART_2',u'UART_3',u'UART_4',u'UART_5',u'UART_6','UART_7',u'UART_8',u'UART_9',u'UTYP1_1',u'UTYP1_2',u'UTYP1_3',u'UTYP1_4',u'UTYP1_5',u'UTYP1_6',u'UTYP1_7']]
    temp_df.to_hdf('/data/dadwal/data/DAP_data/twoyearsepData/h5citiesrain/'+storename+'.h5',key='set2')
    
    df = pd.read_hdf('/data/dadwal/data/DAP_data/twoyearsepData/h5citiesrain/'+storename+'.h5',key='set2')
    display(df.head())
    
    def week_day(DOW):
        if DOW > 1 and DOW<=6:
            return 1
        elif DOW==1 or DOW==7 :
            return 0
    def shift(group):
        df_list=[]
        for idx,df in group:
            df['predicted_accident'] = df['acc_count'].shift(-1)
            df.drop(df.tail(1).index,inplace=True)
            df_list.append(df)
        return pd.concat(df_list)

    def make_binary(d):
        if d > 0:
            return 1
        else:
            return 0
    def year_binary(d):
        if d == '2017':
            return 1
        else:
            return 0
    df['DOW_cat'] = df.apply(lambda row: week_day(row['day']), axis=1)   
    df['HOD_cat'] = df.apply(lambda row: time_interval_two(row['twohoursession']), axis=1) 
   # df['T-Accident'] = df.apply(lambda row: make_binary(row['acc_count']), axis=1) 
    df['DayLight'] = df.apply(lambda row: daynight(row['month'],row['twohoursession']), axis=1) 
    df['season']=  df.apply(lambda row: season(row['month']), axis=1) 
    df['year']= df.apply(lambda row: year_binary(row['year']), axis=1)
    
#     group = df.groupby('geohash')
#     df = shift(group)
    df['predicted_accident'] = df['acc_count']
    temp_df = df [[u'timestep', u'predicted_accident',u'geohash',u'geohash_code', u'twohoursession',u'year',u'month',u'rain_val', u'HOD_cat', u'DOW_cat',u'DayLight',u'season',u'elevaion',u'zenith',u'azimuth_solar','acc_count',u'STRZUSTAND_0',u'STRZUSTAND_1',u'STRZUSTAND_2',u'UART_0',u'UART_1',u'UART_2',u'UART_3',u'UART_4',u'UART_5',u'UART_6','UART_7',u'UART_8',u'UART_9',u'UTYP1_1',u'UTYP1_2',u'UTYP1_3',u'UTYP1_4',u'UTYP1_5',u'UTYP1_6',u'UTYP1_7']]
    temp_df.to_hdf('/data/dadwal/data/DAP_data/twoyearsepData/h5citiesrain/'+storename+'.h5',key='set3')
    display(temp_df.head())
    display(temp_df.columns)

In [ ]:
clean_data_city("/data/dadwal/data/DAP_data/twoyearsepData/rawdatawithrainData/osnabruckTwoearwithRain.csv",'osntwotwoyearRain')

In [ ]:
def train_data(filename):
    #df = pd.read_hdf('/home/dadwal/ls_accident/data/oneKM/onekmfourhour/niedersachsen_onekmfourhour.h5',key='set3')
    
    #df=pd.read_hdf('/home/dadwal/DAP/ls_accident/data/differencitiesaccident/datawithazimuth/h5cities/'+filename+'.h5',key='set3')
    df=pd.read_hdf('/data/dadwal/data/DAP_data/twoyearsepData/h5citiesrain/osntwotwoyearRain.h5',key='set3')
    #df=df.loc[:,'timestep':'UTYP1_7']
    
    acct=df.loc[df['predicted_accident']>0]
    #acct1=df.loc[df['T-Accident']>0]
    
    display(acct)

    #display(acct1)# the .h5 file contains raw traffic, weather, time, and POI data 
    display(df.head())
    df = onhot_enoceder_month(df)
    df=onhot_enoceder(df)
    df=onhot_enoceder_season(df)
#     #df=df[['timestep', 'predicted_accident', 'geohash', 'geohash_code',
#        'twohoursession', 'year', 'DOW_cat', 'DayLight','m_en0', 'm_en1',
#        'm_en2', 'm_en3', 'm_en4', 'm_en5', 'm_en6', 'm_en7', 'm_en8', 'm_en9',
#        'm_en10', 'm_en11', 'HOD_en0', 'HOD_en1', 'HOD_en2', 'HOD_en3',
#        'HOD_en4']]
    df['elevaion'] = scalarval(df['elevaion'])
    df['zenith'] = scalarval(df['zenith'])
    df['azimuth_solar'] = scalarval(df['azimuth_solar'])
    df['acc_count'] = scalarval(df['acc_count'])
    df['rain_val'] = scalarval(df['rain_val'])
    
    print(df.columns)
    #test = onhot_enoceder_month(test)
    df_normalize = df.copy()
    train = df_normalize[df_normalize.timestep <= df_normalize.timestep.max()*5/6]
    test = df_normalize[df_normalize.timestep > df_normalize.timestep.max()*5/6]
    #train.to_csv('train.csv',index=False)
    

#     scaler = MinMaxScaler(feature_range=(0, 1))
#     scaler.fit(train.loc[:,'T-BrokenVehicle':]) 
#     scaled_values = scaler.transform(train.loc[:,'T-BrokenVehicle':]) 
#     train.loc[:,'T-BrokenVehicle':] = scaled_values
#     scaled_values = scaler.transform(test.loc[:,'T-BrokenVehicle':]) 
#     test.loc[:,'T-BrokenVehicle':] = scaled_values
    display(test.head())
    
#     train = onhot_enoceder(train)
#     test = onhot_enoceder(test)
    print(type(train))
    print(type(test))
    
    display(test.head())
    display(test.head().columns)
    
    X_train, y_train = create_sequences(train,geohash_dict)
    X_test, y_test = create_sequences(test,geohash_dict)
    

    # suppose that we have a directory named train_set; in that directory we create several files per city to ...
    # ... represent its train and test data
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/traintestdatawithrain/X_train',X_train) 
    print (X_train.shape)
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/traintestdatawithrain/y_train',y_train)
    print( y_train.shape)
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/traintestdatawithrain/X_test',X_test)
    print (X_test.shape)
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/traintestdatawithrain/y_test',y_test)
    print (y_test.shape)
    print('done')

In [ ]:
train_data('gott')

In [ ]:

import numpy as np
train1=np.load('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/X_train.npy',allow_pickle=True)
train=np.load('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/y_train.npy',allow_pickle=True)
test=np.load('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/y_train.npy',allow_pickle=True)
print(train1.shape)
train_acc=train[train > 0].size
test_acc=test[test > 0].size
tot_acc=train_acc+test_acc
print('tot_acc in =', tot_acc)

train_nonacc=train[train == 0].size
test_nonacc=test[test == 0].size
tot_noacc=train_nonacc+test_nonacc
print('tot_noacc in =',tot_noacc)
percent=(tot_acc/tot_noacc)*100
print("percent of acc/non-acc in =",percent)

# gott with rain data as baseline

In [ ]:
def train_data(filename):
    #df = pd.read_hdf('/home/dadwal/ls_accident/data/oneKM/onekmfourhour/niedersachsen_onekmfourhour.h5',key='set3')
    
    #df=pd.read_hdf('/home/dadwal/DAP/ls_accident/data/differencitiesaccident/datawithazimuth/h5cities/'+filename+'.h5',key='set3')
    df=pd.read_hdf('/data/dadwal/data/DAP_data/twoyearsepData/h5citiesrain/osntwotwoyearRain.h5',key='set3')
    #df=df.loc[:,'timestep':'UTYP1_7']
    
    acct=df.loc[df['predicted_accident']>0]
    #acct1=df.loc[df['T-Accident']>0]
    
    display(acct)

    #display(acct1)# the .h5 file contains raw traffic, weather, time, and POI data 
    display(df.head())
    df = onhot_enoceder_month(df)
    df=onhot_enoceder(df)
    df=onhot_enoceder_season(df)
    df=df[['timestep', 'predicted_accident', 'geohash', 'geohash_code',
       'twohoursession', 'year', 'rain_val','DOW_cat', 'DayLight','m_en0', 'm_en1',
       'm_en2', 'm_en3', 'm_en4', 'm_en5', 'm_en6', 'm_en7', 'm_en8', 'm_en9',
       'm_en10', 'm_en11', 'HOD_en0', 'HOD_en1', 'HOD_en2', 'HOD_en3',
       'HOD_en4']]
#     df['elevaion'] = scalarval(df['elevaion'])
#     df['zenith'] = scalarval(df['zenith'])
#     df['azimuth_solar'] = scalarval(df['azimuth_solar'])
#     df['acc_count'] = scalarval(df['acc_count'])
    df['rain_val'] = scalarval(df['rain_val'])
    
    print(df.columns)
    #test = onhot_enoceder_month(test)
    df_normalize = df.copy()
    train = df_normalize[df_normalize.timestep <= df_normalize.timestep.max()*5/6]
    test = df_normalize[df_normalize.timestep > df_normalize.timestep.max()*5/6]
    #train.to_csv('train.csv',index=False)
    

#     scaler = MinMaxScaler(feature_range=(0, 1))
#     scaler.fit(train.loc[:,'T-BrokenVehicle':]) 
#     scaled_values = scaler.transform(train.loc[:,'T-BrokenVehicle':]) 
#     train.loc[:,'T-BrokenVehicle':] = scaled_values
#     scaled_values = scaler.transform(test.loc[:,'T-BrokenVehicle':]) 
#     test.loc[:,'T-BrokenVehicle':] = scaled_values
    display(test.head())
    
#     train = onhot_enoceder(train)
#     test = onhot_enoceder(test)
    print(type(train))
    print(type(test))
    
    display(test.head())
    display(test.head().columns)
    
    X_train, y_train = create_sequences(train,geohash_dict)
    X_test, y_test = create_sequences(test,geohash_dict)
    

    # suppose that we have a directory named train_set; in that directory we create several files per city to ...
    # ... represent its train and test data
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/X_train',X_train) 
    print (X_train.shape)
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/y_train',y_train)
    print( y_train.shape)
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/X_test',X_test)
    print (X_test.shape)
    np.save('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/y_test',y_test)
    print (y_test.shape)
    print('done')

In [ ]:
train_data('osna')

In [ ]:

import numpy as np

train=np.load('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/y_train.npy',allow_pickle=True)
test=np.load('/data/dadwal/data/DAP_data/twoyearsepData/traintestdata/osnabrucktraintestdata/baselinewithrain/y_train.npy',allow_pickle=True)

train_acc=train[train > 0].size
test_acc=test[test > 0].size
tot_acc=train_acc+test_acc
print('tot_acc in '+city+'=', tot_acc)

train_nonacc=train[train == 0].size
test_nonacc=test[test == 0].size
tot_noacc=train_nonacc+test_nonacc
print('tot_noacc in '+city+'=',tot_noacc)
percent=(tot_acc/tot_noacc)*100
print("percent of acc/non-acc in "+city+"=",percent)